{{ define "main" }}

<main>

  {{ $bgimage := (resources.Get "images/bg-about.jpg").RelPermalink }}
  <section
    class="relative table w-full pb-0 lg:pb-0 bg-slate-800 bg-[url('{{ $bgimage }}')] bg-center bg-no-repeat bg-cover"
    style="background-image: url('{{$bgimage}}');">
    <div class="container px-4 mx-auto max-w-screen-xl">
      <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
        <div class="lg:col-span-7">
          <div class="md:mt-20 md:mb-20 mt-12 shadow-lg">
            <h1 class="text-3xl md:text-4xl lg:text-6xl font-semibold  mb-5 text-white">About Metal Workers</h1>
            <p class="pr-0 my-8 text-base text-white sm:text-xl xl:text-2xl lg:pr-20 shadow-lg">Metal Workers excels in
              crafting top-tier metal fabrications, specializing in stainless steel balustrades, aluminum, brass, and
              mild steel</p>
            <div class="mt-20">
              <div class="flex flex-wrap -m-2.5 mb-20">


              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="lg:col-span-5 mt-8 md:mt-0">
          {{ with resources.Get "images/sales-man.png" }}
          {{ $small := (.Resize "400x webp q80").RelPermalink }}
          {{ $medium := (.Resize "550x webp q80").RelPermalink }}
          {{ $large := (.Resize "900x webp q80").RelPermalink }}
          {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
          <img src="{{ $featuredimage }}" srcset="" alt="">
          {{end}}
        </div><!--end col-->
      </div><!--end grid-->
    </div><!--end container-->
  </section>


  <section class="mt-20 mb-20">
    <div class="relative my-4 mb-20">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8 items-center">

        <div class="relative sm:py-8 lg:py-0">
          <div
            class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20 mt-2 md:mt-20">
            <div class="relative overflow-hidden rounded-2xl hover:contrast-125">
              {{ $missionimage := resources.Get "images/bg-blog.jpg" }}
              {{ with $missionimage }}
              {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
              <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                class="object-cover w-full h-full rounded-full shadow-lg border-b-stone-200 items-center"
                alt="About Metal Workers" loading="lazy" />
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>


        <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
          <!-- Content area -->
          <div class="md:pt-12 sm:pt-6 lg:pt-20">
            <h2
              class="relative mb-4 text-dark text-slate-800 text-3xl font-bold tracking-tight text-dark sm:text-4xl tracking-tight mb-12 md:mt-6 mt-0 pt-6 leading-tight font-poppins tracking-tight">
              Specialists in <span style="color:#FE590F" class="font-semibold">Metal & Steel Fabrication </span></h2>
            <div class="mt-6 space-y-6">
              <p class="text-2xl leading-tight mb-12">Metal Workers excels in crafting top-tier metal fabrications,
                specializing in stainless steel balustrades, aluminum, brass, and mild steel. Our in-house capabilities,
                including tube rolling, sheet forming, and machining, guarantee precision and excellence in every
                project.
              </p>
              <p class="text-2xl leading-tight mb-12">
                We are committed to maintaining a high level of quality in all of our processes, from design and
                fabrication through to personal contact. Our first responsibility is to our customer: to provide a
                specified product or service in a timely manner, to give sound, objective advice and to communicate
                effectively. It is this personal approach, coupled with our innovative solutions that have contributed
                significantly to our client’s satisfaction.
              </p>
            </div>
          </div>
          <!-- Content area End -->
        </div>

      </div>
    </div>
  </section>



  <!-- component -->
  <section class="bg-gray-100 dark:bg-gray-800 border-t">

    <div class="container px-6 py-10 mx-auto space-y-6 lg:py-16 lg:flex-row lg:items-center">
      <div class="flex items-center flex-col lg:flex-row">
        <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
            <h2 class="text-3xl font-bold tracking-tight text-dark sm:text-4xl">
              Metal Workers Systems Limited
            </h2>

            <p class="text-left text-dark text-2xl mt-4">
              Metal Workers is the new name for Thames Wire Productions, which was formerly known as Thames Wire
              Productions.
            </p>
            <p class="text-left text-dark text-2xl mt-4">
              Established in 1963, Thames Wire Productions has a rich history of crafting top-tier metal fabrications
              for both the film and construction industries. Our expertise spans various materials, including stainless
              steel, aluminum, brass, as well as the commonly used mild steel. Over the years, we have proudly
              manufactured balustrades for renowned global retailers and multinational corporate headquarters.

              Our commitment to precision and quality is reflected in our fully equipped facilities, which include
              in-house tube rolling and bending, sheet forming and rolling, and a comprehensive machine shop equipped
              for turning and milling. We collaborate closely with clients to bring their designs to life, ensuring that
              every project meets the highest standards of craftsmanship.
            </p>
          </div>

        </div>

        <div class="flex items-center justify-center w-full h-96 lg:w-1/2 pt-12 md:pt-0">

          {{ with resources.Get "images/metal-workings.jpg" }}
          {{ $small := (.Resize "400x webp q80").RelPermalink }}
          {{ $medium := (.Resize "550x webp q80").RelPermalink }}
          {{ $large := (.Resize "900x webp q80").RelPermalink }}
          {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
          <img src="{{ $featuredimage }}" srcset="
              {{- with $small -}}, {{.}} 400w{{- end -}}
              {{- with $medium -}}, {{.}} 550w{{- end -}}
              {{- with $large -}}, {{.}} 768w{{- end -}}
              {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
            class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl" alt="About Metal Workers Systems" />
          {{ end }}
        </div>
      </div>


    </div>
  </section>


  <!-- <section class="mb-20 bg-gray-50">
    <div class="relative table w-full pb-0 lg:pb-0 justify-center text-center" style="background-color: #4D4575;">
      <h3 class="mb-3 text-3xl font-semibold leading-tight text-center text-white md:text-4xl mt-6 mb-6">Installed Base World
        Wide</h3>
    </div>

    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row mt-12 items-center  gap-6">
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/uk.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/germany.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/9.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/10.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/france.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/australia.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/italy.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6 flex justify-center">
          {{ with resources.Get "images/flags/ireland.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
      </div>
      <div class="flex flex-col lg:flex-row mt-12 items-center justify-center gap-6">
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/tatti.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/denmark.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/hungary.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/poland.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/canada.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/norway.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/india.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/greece.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
      </div>
      <div class="flex flex-col lg:flex-row mt-12 items-center justify-center gap-6">
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/slovania.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/finland.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full border-amber-300" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/switzerland.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full border-amber-300" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/japan.png" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full border-amber-300" alt="">
          {{end}}
        </div>
        <div class="w-3/6  flex justify-center">
          {{ with resources.Get "images/flags/9.jpg" }}
          {{ $flag := (.Resize "129x webp q100").RelPermalink }}
          <img src="{{ $flag }}" class="rounded-full border-amber-300" alt="">
          {{end}}
        </div>
      </div>
      <div class="flex justify-center">
        <p class="text-xl font-bold mt-12 mb-12 text-center">Please Note: This is a small sample of our World - Wide
          Installed Base provided for
          information only </p>
      </div>
    </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto py-4 mt-20">
      <div class="grid grid-cols-3 gap-4">
        <div class="w-3/5  justify-start">
          <div class="relative table rounded-2xl w-full pb-0 lg:pb-0 justify-center text-center"
            style="background-color: #4D4575;">
            <h4 class="p-6 text-xl md:text-2xl xl:text-3xl font-semibold text-white text-center"> Satisfied Customers
            </h4>
            <p class="p-6 text-8xl grow font-bold text-center text-white">249</p>
          </div>
        </div>

        <div class="w-3/6 justify-end">
          <div
            class="relative table border-amber-400 rounded-2xl w-full pb-0 lg:pb-0 justify-center text-center bg-gray-100">
            <h4 class="p-6 text-xl md:text-2xl xl:text-3xl font-semibold text-dark text-center"> Countries Served</h4>
            <p class="p-6 text-8xl grow font-bold text-center" style="color:#FE590F;">25</p>
          </div>
        </div>
        <div class="w-3/6 justify-end">
          <div
            class="relative table border-amber-400 rounded-2xl w-full pb-0 lg:pb-0 justify-center text-center bg-gray-50">
            <h4 class="p-6 text-xl md:text-2xl xl:text-3xl font-semibold text-dark text-center">Stations installed
            </h4>
            <p class="p-6 text-8xl grow font-bold text-center" style="color:#FE590F;">68</p>
          </div>
        </div>
      </div>
  </section> -->

  <section>
    <!-- <div class="container mx-auto justify-center">
      <div class="flex flex-col lg:flex-row mt-12 items-center justify-center gap-6">
        <div class="w-full">
          <h2
            class="text-3xl font-bold tracking-tight text-dark sm:text-4xl text-center mt-12">
            Supporting our <span style="color:#FE590F" class="font-semibold ">Spinning Disc
              Installations</span> around the World</h2>
        </div>
      </div>
    </div>


    <div class="relative px-8">
      <div class="flex flex-col md:flex-row justify-between max-w-screen-xl mx-auto py-20 md:py-24 items-center">
        <div class="md:w-6/12 flex-shrink-0 relative ">

          {{ with resources.Get "images/machines/Discmatic-big.jpg" }}
          {{ $small := (.Resize "400x webp q80").RelPermalink }}
          {{ $medium := (.Resize "550x webp q80").RelPermalink }}
          {{ $large := (.Resize "900x webp q80").RelPermalink }}
          {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
          <img src="{{ $featuredimage }}" srcset="
              {{- with $small -}}, {{.}} 400w{{- end -}}
              {{- with $medium -}}, {{.}} 550w{{- end -}}
              {{- with $large -}}, {{.}} 768w{{- end -}}
              {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
            class="rounded-lg object-cover object-center cursor-pointer aspect-[6/4]" loading="lazy"
            alt="About Metal Workers Systems" />
          {{ end }}

        </div>
        <div class="md:w-6/12 md:mt-0 md:ml-12 lg:ml-16 md:order-last">
          <div class="text-center md:text-left">
            <p
              class="mt-4 text-center md:text-left md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200">
              Metal Workers has been manufacturing and supplying Spinning <b class="font-bold"
                style="color: #363344;">Disc Spraying Machines worldwide since the late 1980s.</b>
              With
              our unique ability to offer a range of services, including bespoke design, we have installations in key
              food
              manufacturing countries across Asia, South America, and Australia.</p>
            <p
              class="mt-4 text-center md:text-left md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200">
              When dealing with long distances, language, and cultural differences, our strategy has always been to
              provide excellent training during the installation process. This instills a high level of confidence in
              future installations. We prioritise delivering a personal service that allows us to build valuable working
              relationships with on-site maintenance staff.
            </p>
            <p
              class="mt-4 text-center md:text-left md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200">
              By taking this customer-focused approach, we can quickly respond to any issues, diagnose faults and
              operating errors, and provide recommendations for restoring full operation. The Spinning Disc Spraying
              machine is not a complex machine, as it utilises industry-standard engineering components that experienced
              engineers are familiar with. These components include:<br />
            <ul class="p-6 text-xl grow text-left font-bold text-slate-800">
              <li><i class="fa-solid fa-circle fa-2xs mr-5"></i>Inverter/Motor combination sets</li>
              <li><i class="fa-solid fa-circle fa-2xs mr-5"></i>Conveyors</li>
              <li><i class="fa-solid fa-circle fa-2xs mr-5"></i>Motors</li>
              <li><i class="fa-solid fa-circle fa-2xs mr-5"></i>Pumps</li>
              <li><i class="fa-solid fa-circle fa-2xs mr-5"></i>Gearboxes</li>
            </ul>
            </p>
            <p
              class="mt-4 text-center md:text-left md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200">
              Additionally, there is specialist technology within our systems that
              would be explained in detail, ensuring
              transparency through inclusion and offering insight and support every step of the way.<br /><br />

              During the initial phase of the build program, <b>we provide
                support</b> with locally held spares from our recommended spares list, which details the recommended
              spares
              holding items and quantities.
            </p>
          </div>
        </div>
      </div>
    </div> -->


    </div>
  </section>

  {{ partial "cta.html" . }}

</main>
{{ end }}