{{ define "main" }}

{{ $blogbg := resources.Get "images/bg_hero.png" }}
<div class="relative overflow-hidden table w-full py-32 lg:py-36 bg-center bg-no-repeat bg-cover" style="
        background-position: 50%;
        background-image: url('{{ $blogbg.RelPermalink}}');
      ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)">
        <div class="flex justify-center items-center h-full">
            <div class="text-center text-white px-6 md:px-12">
                <h1 class="text-4xl md:text-5xl xl:text-5xl font-bold tracking-tight mb-12">
                    {{ .Title }}
                </h1>
            </div>
        </div>
    </div>
</div>

<section class="mt-12 mb-12">
  <div class="container mx-auto">
    <div class="flex items-center flex-col lg:flex-row justify-center">
      <div class="w-3/6">
        <h5 class="relative mb-12 text-dark drop-shadow-lg text-slate-800 xl:mb-20 text-5xl md:text-6xl lg:text-6xl pt-20 leading-tight font-semibold font-poppins tracking-tight mt-12">
          <span style="color:#FE590F"> Saturn Spraying </span>Applications Areas
        </h5>
      </div>
    </div>
  </div>
  <div class="container my-auto mx-auto">
    <div class="flex items-center flex-col lg:flex-row justify-center gap-6">
      <a href="/applications/#biscuits" class="hover:scale-125 transition ease-in-out duration-200">
        <div class="rounded-lg p-4 w-full md:w-3/6 h-full bg-gray-100">
          <center>
            {{ with resources.Get "images/nutella-biscuits.png" }}
            <img src="{{ .RelPermalink }}" class="w-3/6" style="position: relative; margin-top: -40px; width: 60%;"
              alt="">
            {{ end }}
          </center>
          <h2 class="text-dark text-2xl font-bold mt-2 mb-2">Biscuits and Snack Food</h2>
          <p class="text-dark">Spraying oil and sprinkling salt and/or nuts onto our all-time favourite snack
            foods.</p>
          <div class="w-full md:w-auto p-2.5">
            <center>
              <a class="py-4 px-4 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-slate-800 font-semibold border rounded-lg border-black"
                href="/applications/#lowfatproducts ">
                <span class="text-sm">Explore More</span>
              </a>
            </center>
          </div>
        </div>

      </a>
      <a href="/applications/#bakery" class="hover:scale-125 transition ease-in-out duration-200">
        <div class="rounded-lg p-4 w-full md:w-3/6 h-full bg-gray-100">
          <center>
            {{ with resources.Get "images/croissant.png" }}
            <img src="{{ .RelPermalink }}" class="w-3/6" style="position: relative; margin-top: -40px; width: 50%;"
              alt="">
            {{ end }}
          </center>
          <h2 class="text-dark text-2xl font-bold mt-2 mb-2">Bakery</h2>
          <p class="text-dark">​Egg glazing of bakery products, including savory pies, pasties, brioche and
            croissants. Just too good to resist.</p>
          <div class="w-full md:w-auto p-2.5">
            <center>
              <a class="py-4 px-4 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-slate-800 font-semibold border rounded-lg border-black"
                href="/applications/#bakery">
                <span class="text-sm">Explore More</span>
              </a>
            </center>
          </div>
        </div>
      </a>
      <a href="/applications/#meatandfish" class="hover:scale-125 transition ease-in-out duration-200">
        <div class="rounded-lg p-4 w-full md:w-3/6 h-full bg-gray-100">
          <center>
            {{ with resources.Get "images/meat-fish.png" }}
            <img src="{{ .RelPermalink }}" class="w-3/6" style="position: relative; margin-top: -40px; width: 50%;"
              alt="">
            {{ end }}
          </center>
          <h2 class="text-dark text-2xl font-bold mt-2 mb-2">Meat, Fish & Cheese</h2>
          <p class="text-dark">Reducing freezer burn on meat, anti-fungal barriers on cheese and sprinkling herbs
            onto fish. All in a days work.</p>
          <div class="w-full md:w-auto p-2.5">
            <center>
              <a class="py-4 px-4 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-slate-800 font-semibold border rounded-lg border-black"
                href="/applications/#meatandfish">
                <span class="text-sm">Explore More</span>
              </a>
            </center>
          </div>
        </div>
      </a>
      <a href="/applications/#fruitsandveggies" class="hover:scale-125 transition ease-in-out duration-200">
        <div class="rounded-lg p-4 w-full md:w-3/6 h-full bg-gray-100">
          <center>
            {{ with resources.Get "images/fruits.png" }}
            <img src="{{ .RelPermalink }}" class="w-3/5" style="position: relative; margin-top: -40px; width: 50%;"
              alt="">
            {{ end }}
          </center>
          <h2 class="text-dark text-2xl font-bold mt-2 mb-2">Fruit & Vegetables</h2>
          <p class="text-dark">Sterilising soft fruits and berries is a vital task made easier; whilst the humble
            potato 'grows up' with our precision spraying process.</p>
          <div class="w-full md:w-auto p-2.5">
            <center>
              <a class="py-4 px-4 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-slate-800 font-semibold border rounded-lg border-black"
                href="/applications/#fruitsandveggies">
                <span class="text-sm">Explore More</span>
              </a>
            </center>
          </div>
        </div>
      </a>
      <a href="/applications/#lowfatproducts" class="hover:scale-125 transition ease-in-out duration-200">
        <div class="rounded-lg p-4 w-full md:w-3/6 h-full bg-gray-100 justify-center">
          <center>
            {{ with resources.Get "images/croissant.png" }}
            <img src="{{ .RelPermalink }}" class="w-3/6" style="position: relative; margin-top: -40px; width: 50%;"
              alt="">
            {{ end }}
          </center>
          <h2 class="text-dark text-2xl font-bold mt-2 mb-2">Low Fat Products</h2>
          <p class="text-dark">​Saturn is active in developing application systems for low-fat food production.
            Read all about it. </p>
          <div class="w-full md:w-auto p-2.5">
            <center>
              <a class="py-4 px-4 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-slate-800 font-semibold border rounded-lg border-black"
                href="/applications/#lowfatproducts ">
                <span class="text-sm">Explore More</span>
              </a>
            </center>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-3/6">
        <h5 class="relative mb-4 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-5xl lg:text-5xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
          <span style="color:#FE590F" id="bakery"> Bakery </span>Products Applications
        </h5>
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5 text-left">
          Egg Glazing </h5>
        <p class="text-dark text-2xl">Egg Glazing, sometimes referred to as Egg Washing is the singular most popular
          spraying
          application in the bakery industry. It transforms a pastry product into the golden honey coloured product that
          we find mighty difficult to resist. These could include but are not limited to:</p>
        <ul class="p-6 text-3xl grow text-left font-bold" style="color: #FE590F;">
          <li> Bread Rolls
          </li>
          <li>Brioches
          </li>
          <li>Cornish Pasties
          </li>
          <li>Croissants
          </li>
          <li>Flat Top Pies
          </li>
          <li>
            Sausage Rolls
          </li>
        </ul>
        <p class="text-dark text-2xl">
          The quality of glaze can make a profound difference to the visual acceptance of the product, which is why many
          of the larger retailers worldwide specify the glazing requirements so exactly. The glaze must be applied in a
          homogenous, streak-free process; where over-glazing, spots, drips or void areas are simply not acceptable.
          Glaze application technologies such as brushing or spray nozzles simply fail to meet these requirements and
          are discounted as serious contenders in most processing lines.
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <div class="mb-4 md:mb-20">
          <center>
            {{ with resources.Get "images/croissant.png" }}
            <img src="{{ .RelPermalink }}" class="h-full w-1/2" alt="">
            {{ end }}
          </center>
        </div>
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-full md:w-1/2">

        <p class="text-2xl">
          With Spinning Disc Spraying, the glaze is applied to either the 'top only' or 'top & sides' surfaces,
          depending
          on the needs of the product. The combination of the number of discs pairs, their geometric position, and the
          system's various speed settings give the desired precision spray coverage. Saturn Spraying System's
          DiscMaster™
          and DiscMatic™ series of machines are designed to provide high-performance egg glazing capabilities.
        </p>
        </br>
        <p class="text-2xl">
          The egg glaze itself can be real or synthetic and applied at either ambient or chilled temperatures. EU
          recommendation stresses the importance of maintaining real egg at a temperature of between 4 ­to 6°C. Saturn
          provides the facility to temperature regulate the spray material during application. The advantage of our
          design
          is that the spray material is being continuously pumped around the machine and returned to the system
          reservoir,
          which brings the spray material into contact with the refrigerated surfaces of the machine, maintaining the
          temperature of the egg glaze more accurately.
        </p>
        </br>
        <p class="text-2xl">
          Our clients tell us that our Technology allows them to:
        </p>
        </br>
        <ul class="p-6 text-2xl grow text-left font-bold" style="color: #FE590F;">
          <li>Meet the exacting requirements of retailers worldwide</li> </br>

          <li>Deliver homogeneous spray coverage with precision control</li> </br>

          <li>Extend the useful operational life of the glaze by continuous recycling</li> </br>

          <li>Save costs by applying an expensive glaze at the optimal coverage rate with minimal wastage</li> </br>

          <li>Operate a virtually blockage-free production process with high yield rates</li> </br>

          <li>Handle real eggs in a safe, controlled environment without clouds of atomized egg in the working area</li>
        </ul>
      </div>
      <div class="w-full md:w-1/2">
        <!-- <div class="pt-12"> -->
        <div class="mb-4 md:mb-20">
          <div class="relative h-0 overflow-hidden rounded-2xl max-w-full w-full justify-center" style="padding-bottom: 56.25%" >
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/pvMzPnTtPvw"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="relative h-0 overflow-hidden rounded-2xl max-w-full w-full justify-center"
          style="padding-bottom: 56.25%">
          <iframe src="https://www.youtube.com/embed/hueXws6cXNE" frameborder="0" allowfullscreen
            class="absolute top-0 left-0 w-full h-full"></iframe>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-full md:w-full">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5 text-left">
          Oil Spraying </h5>
        <p class="text-2xl">Food Production requires the spraying of oil onto the food surface for the following
          reasons:</p>
        <h3 class="text-3xl mt-5 mb-5 font-bold">Barrier Coat:</h3>
        <p class="text-2xl">
          Oils such as Palm Oil are sprayed over the outside of the product. The coating reduces the uptake of moisture
          in
          the next manufacturing stage. Since viscosity is inversely proportional to temperature for all materials, the
          palm oil (which is a solid at room temperature) is heated to the point where the viscosity is optimum for
          precision spraying.
        </p>
        <h3 class="text-3xl mt-5 mb-5 font-bold">Provide Lubrication:</h3>

        <p class="text-2xl">
          Oil acts as a lubricant between the layers of pastry in products like Filo Pastry, where dough oiling ensures
          an
          excellent product.
        </p>
        <h3 class="text-3xl mt-5 mb-5 font-bold">Crisping Agent:</h3>

        <p class="text-2xl">
          Oil is sprayed onto the outside of the product to improve product texture in the next stage of the cooking
          process. For example, French Fries &amp; Roast Potatoes.
        </p>
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Barrier Coat Spraying
        </h5>
        <div class="relative h-0 overflow-hidden rounded-2xl max-w-full w-full justify-center"
          style="padding-bottom: 56.25%">
          <iframe src="https://www.youtube.com/embed/dqvLyeOos_o" frameborder="0" allowfullscreen
            class="absolute rounded-2xl top-0 left-0 w-full h-full"></iframe>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row mt-12">
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Dough Oiling
        </h5>
        <p class="text-2xl">Dough Oiling is simply the process of providing a light film of oil to the outer surface of
          kneaded dough,
          including dough balls and pizza bases. One of the most popular oiling processes is the preparation of Filo
          {Phyllo, Fillo} pastry for pie lines. Oil can be applied to either a single side or both sides of the
          continuous
          pastry line, providing lubrication as it is folded and layered.</p>
        </br>
        <p class="text-2xl">The process requires that the applicator should:</p>
        </br>
        <ul class="p-6 text-2xl grow text-left font-bold" style="color: #FE590F;">
          <li>Apply oil homogeneously across the FILO pastry</li></br>
          <li>Cover both sides of the pastry (if required)</li></br>
          <li>Precision regulation of the oil coverage</li></br>
          <li>Accommodate relatively high-speed line application</li></br>
        </ul>
        </br>
        <p class="text-2xl">Saturn’s DiscMaster™ and DiscMatic™ Series of Spraying Systems provides the optimum oiling
          application
          systems,
          by utilizing the 2D Top & Bottom system configuration.</p>
        </br>
        <p class="font-bold text-dark mb-5 mt-5">Schematic of a DiscMaster™DN4TB providing top & Bottom
          Spraying
          for filo pastry</p>
        <div class="float-right">
          {{ with resources.Get "images/dough-oiling.png" }}
          <img src="{{ .RelPermalink }}" class="h-full w-1/2" alt="">
          {{ end }}
        </div>
        <p class="font-bold text-2xl">These systems provide:</p>

        <ul class="p-6 text-2xl grow text-left font-bold" style="color: #FE590F;">
          <li>Precision control for optimum system yield</li></br></br>
          <li>Consistent and even homogenous spray coverage 'Top & Bottom'</li></br></br>
          <li>Upgraded pump selection for high-speed application</li></br></br>
          <li>Auto refill reservoir option for long endurance application which reduces operator interaction</li>
        </ul>
      </div>
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Barrier Coat Spraying
        </h5>
        <div class="aspect-w-16 aspect-h-16 rounded-lg h-full p-5">
          <iframe class="w-full h-full" src="https://www.youtube.com/embed/pvMzPnTtPvw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5 ">
          Bread Preservatives
        </h5>
        <p class="text-2xl">
          For leavened bread products, particularly in warmer environments, a mixture of Potassium Sorbate and other
          mould
          inhibitors are applied to the external surfaces of the bread to increases the shelf life. By inhibiting the
          growth
          of mould, the shelf life can be significantly extended without compromising either the taste or the cosmetic
          appearance of the bread. The Potassium Sorbate needs to be applied with an evenness and precision to ensure
          that
          the loaf is completely coated.
          </br></br>
          Preservatives are precision sprayed onto the bread, as one of the last manufacturing processes the bread is
          subjected to after it exits the oven. Here it is important to ensure that adjacent products do not mask or
          inhibit
          the application of the Potassium Sorbate spray. Divergent conveyor belts or spreaders are used to increase the
          gap
          between the loaves until full spray coverage can be completed. A converging conveyor is often used to return
          the
          loaves to their previous belt configuration.
          </br></br>
          The picture shows loaves too close for spraying. These would need to pass through a divergent conveyor unit
          which
          will increase the spacing between the loaves to prevent product masking of the spray.
          </br></br>
        </p>
      </div>
      <div class="w-full md:w-1/2">
        {{ with resources.Get "images/bread-preservation.png" }}
        <img src="{{ .RelPermalink }}" class="w-full h-full" alt="">
        {{ end }}
      </div>

    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-full">
        <p class="text-2xl">Saturn’s DiscMaster™ and DiscMatic™ Spinning Disc Spraying Systems both equally lend
          themselves to this
          application. The choice of systems depends on the conveyor belt size and scale of the operation. High volume
          bread production invariably requires the belt widths available only with the DiscMatic™ system.
          The key success drivers in this process are:</p>
        <ul class="p-6 text-2xl grow text-left font-bold" style="color: #FE590F;">
          <li>Accuracy in the spraying of bread loaves
          </li></br>
          <li>Accurate control of the deposition rate with equal three-dimensional spray strength
          </li></br>
          <li>Conveyor spreaders and convergers to remove the inter-product masking effects
          </li></br>
          <li>Effectively operate in a high volume - High yield environment</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full justify-center">
        <h5 class="relative text-center mb-4 mt-12 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-5xl lg:text-5xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
          <span style="color: #FE590F;">Biscuit & Snack </span> Food Products Applications
        </h5>
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-full md:w-1/2">
        <div class="w-full">
          <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
            Oil & Salt Coating</h5>
        </div>
        <p class="text-dark text-2xl">Oil & Salt coating of Biscuits and Snacks is easily accomplished with Saturn’s
          DiscMatic™
          Slurry System. As with the application of flavors, spices and seasoning, a base layer of oil provides the
          medium
          for the additive to form a simple slurry mixture. This is a particularly efficient and effective way of
          applying
          your coating as in one step it reduces the number and expense of the processing equipment and improves the
          adhesion and distribution of the particulate over the food product.
          </br></br>
          The technology available to apply this slurry spray is limited almost entirely to spinning disc spraying
          with
          its virtual blockage free performance since nozzle appliances spectacularly fail in this area.
          Saturn Slurry machines use hygienic stainless steel pumps, absent from potential blocking points and no
          mating
          surfaces to crush and damage the product. Some types of pump throw the particles outwards causing them to
          stick
          to the chamber walls, which can create blockages and crush the particles, which, in the case of herbs etc.,
          can
          change the flavor of the particle.
          <span class="font-bold" style="color: #FE590F;">Saturn’s DiscMatic™ Slurry Variant System</span>
          demonstrates
          the key features required to satisfactorily handle and apply particulates in solution..
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <!-- <div class="pt-12"> -->
        <center>
          {{ with resources.Get "images/nutella-biscuits.png" }}
          <img src="{{ .RelPermalink }}" class="h-full w-full" alt="">
          {{ end }}
        </center>
        <!-- </div> -->
      </div>
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Milk Glazing</h5>
        <p class="text-dark text-2xl">Milk Glazing is most often used to put a ‘shine’ on sweet biscuits and here the
          quality
          of
          glaze can make a difference to the visual appeal of the product. The glaze must be applied in a homogeneous,
          streak free process. Over-glazing, spots, drips or void areas are simply not acceptable.
          </br></br>
          With Spinning Disc Spraying, the glaze is applied to either the<span class="font-bold"
            style="color: #FE590F;">‘top only’</span> or <span class="font-bold" style="color: #FE590F;">‘top &
            sides’</span> surfaces, depending on the size, shape and needs of the product. The combination of the
          number
          of discs pairs, their geometric position and the systems various speed settings give the desired precision
          spray
          coverage. Saturn Spraying System’s <span class="font-bold" style="color: #FE590F;">DiscMaster™</span> and
          <span class="font-bold" style="color: #FE590F;">DiscMatic™</span> Series of machines are designed to provide
          high-performance glazing capabilities.
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row mt-12">
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5" id="biscuits">
          Biscuit Flavouring</h5>
        <p class="text-dark text-2xl">Flavourings are commonly mixed with a carrier oil to improve handling and
          application
          during
          the manufacturing process. Flavours are not restricted to simple liquid additives but can also include
          powders,
          providing they dissolve completely.
          </br></br>
          The key requirements associated with successful application of flavourings are:</br></br>
        <ul class="font-bold text-3xl" style="color: #FE590F;">
          <li>
            Blockage Free Application Process
          </li></br>
          <li>Controlled Deposition Rate
          </li></br>
          <li>Consistent Batch to Batch Performance
          </li></br>
          <li>Quick Changeover of Flavours
          </li></br>
          <li>High Yield Rate</li></br>
        </ul>
        <p class="text-2xl">The technology available to apply this slurry spray is limited almost entirely to spinning
          disc spraying with
          its
          virtual blockage free performance since nozzle appliances spectacularly fail in this area.
          Saturn Slurry machines use hygienic stainless steel pumps, absent from potential blocking points and no mating
          surfaces to crush and damage the product. Some types of pump throw the particles outwards causing them to
          stick
          to
          the chamber walls, which can create blockages and crush the particles, which, in the case of herbs etc., can
          change the flavor of the particle.
          <span class="font-bold" style="color: #FE590F;">Saturn’s DiscMatic™ Slurry Variant System</span> demonstrates
          the
          key features required to satisfactorily handle and apply particulates in solution..
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <!-- <div class="pt-12"> -->
        <center>
          {{ with resources.Get "images/flavours.png" }}
          <img src="{{ .RelPermalink }}" class="h-full w-full" alt="">
          {{ end }}
        </center>
        <!-- </div> -->
      </div>
    </div>
    <div class="flex items-center flex-col lg:flex-row mt-12">
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Nut & Sugar Sprinkling</h5>
        <p class="text-dark text-2xl">
          Granular products such as sugars, nuts, dried herbs, breadcrumbs and various seeds, such as poppy, sesame
          and
          cracked wheat, can be sprinkled with even precision on to the top of produce using Saturn's Sprinkler. The
          sprinkler head is mounted over its own integral conveyor.
          </br></br>
          The sprinkler uses an interchangeable, grooved roller which is driven by an inverter controlled, electric
          motor.
          The roller is mounted on the bottom of a hopper, into which the granular material to be sprinkled is placed.
          As
          the roller rotates, granular products in the hopper, are gravity fed to engage with the grooved roller. The
          grooves picks up granuals and rotates through 180 degrees. The granular products are now free to drop by
          gravity
          onto the products directly underneath the roller.
          </br></br>
          The application rate is regulated by adjusting the speed of rotation of the roller, using the digital
          potentiometer in the control cabinet. The grooves in the roller are machined to accept the granular size of
          the
          product being sprinkled. Where different granular sizes of products are to be used, interchangeable
          application
          rollers may be required for each product.
          </br> </p>
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-full justify-center">
        <h5 class="relative mb-4 mt-12 text-center text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-5xl lg:text-5xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
          <span style="color: #FE590F;" id="meatandfish">Meat & Fish </span> Products Applications
        </h5>
      </div>
      <div class="w-full md:w-1/2">
          <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
            Water Spraying to Relieve Freezer Burn</h5>
          <p class="text-dark text-2xl">Appearing as brown leathery spots on frozen meats and vegetables, freezer burn occurs
            when
            the product is damaged by dehydration and oxidation as air reaches the food’s surface. Whilst freezer burn
            itself doesn’t make the food unsafe, it does make it undesirable. Fluctuations of freezer temperature and
            low
            moisture levels can also promote the development of this blight.
          </p>
          <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
            FREEZER BURN ON MEAT</h5>
          <p class="text-dark text-2xl">One of the most effective ways of combating the onset of this problem is to lightly
            precision spray the product with water prior to its packaging and quench freezing. This process increases
            the
            level of moisture in the freezer and reduces the potential of freezer burn onset.
            </br></br>
            Precision spraying of water is a fast and effective method of increasing the overall yield of the
            production
            process. Saturn Spraying DiscMaster™ and DiscMatic™ Systems are designed to precision control the
            application
            of spraying materials and lend themselves easily to this process. The flexibility to provide 2D and 3D
            coverage for all-over spraying is very important.</p>
      </div>
      <div class="w-full md:w-1/2">
        {{ with resources.Get "images/meat-fish-2.png" }}
        <img src="{{ .RelPermalink }}" class="h-full w-full" alt="">
        {{ end }}
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-full justify-center">
        <h5 class="relative mb-4 mt-12 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-5xl lg:text-5xl text-center pt-20 leading-tight font-semibold font-poppins tracking-tight">
          <span style="color: #FE590F;" id="fruitsandveggies">Fruit & Vegetables</span> Products Applications
        </h5>
      </div>
      <div class="w-full md:w-1/2">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Extending the Shelf Life of Fruit and Vegetables.
        </h5>
        <p class="text-2xl">
          Food safety is vitally important to the food processing industry since all food items are extremely
          vulnerable
          to contamination. The uncontrolled growth of microorganisms such as bacteria, fungi and protozoa, results in
          food spoilage, which reduces both the shelf life and yield of the product. The Food industry always faces a
          challenging situation in the minimising of microbial contamination, giving the customer the very best
          product
          they can buy, whilst protecting their narrow profit margins in a highly competitive market.
          </br></br>
          However, with the investment and effort made in producing quality products, it makes sense to take the
          appropriate steps to protect the product. Contamination can happen at any time during harvesting,
          processing,
          storage or transportation. For many years, the traditional treatment of many fresh fruit and vegetable
          products
          was to wash them in either a ‘bath’ or flume, with a liquid sterilant, e.g., chlorinated water.
          Unfortunately,
          the processes themselves result in damage or ‘bruising’ to the product. This reduces yield and increases the
          cost of getting fruits to market.
          </br></br>
          Saturn’s <span class="font-bold" style="color: #FE590F;">DiscMaster™</span> and <span class="font-bold"
            style="color: #FE590F;">DiscMatic™</span> Spraying Systems have proven extremely adept at solving the
          issues
          of
          applying a very fine precision spray of sterilant to the products, as they pass through the machine, whilst
          ensuring that product handling problems are minimised. The ‘all over’ sterilant spray capability has proved
          particularly successful in the processing of berry fruits, such as strawberries, raspberries, blackberries,
          grapes, blueberries, blackcurrants and redcurrants. Peppers, tomatoes, carrots, and even ‘Portobello’
          mushrooms
          have benefited from the treatment, where the application of an organic sterilant has successfully been shown
          to
          extend the shelf life of these products. Notwithstanding the benefits to the supplier and the consumer, in
          knowing products are ‘safe for consumption’.
          </br></br>
          Such has been the success of this development that many suppliers of fruit and vegetable products to the
          major
          supermarket chains have installed the Saturn Spraying Systems’ machines in their production lines.
        </p>
      </div>
      <div class="w-full md:w-1/2">
        {{ with resources.Get "images/fruits.png" }}
        <img src="{{ .RelPermalink }}" class="w-3/6" alt="">
        {{ end }}
      </div>
    </div>
    <div class="flex flex-wrap" id="lowfatproducts">
      <div class="w-full justify-center">
        <h5 class="relative text-center mb-4 mt-12 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-5xl lg:text-5xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
          <span style="color: #FE590F;">Low Fat</span> Products Applications
        </h5>
      </div>
      <div class="w-full justify-start overflow-hidden" style="position: relative; left: -150px;">
        {{ with resources.Get "images/low-fat.png" }}
        <img src="{{ .RelPermalink }}" class="w-3/6" alt="">
        {{ end }}
      </div>
      <div class="w-3/5">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Introduction
        </h5>
        <p class="text-2xl"> 
          Fried foods are popular due to their taste, distinctive flavour, aroma and crunchy texture, which results
          from
          an important and versatile cooking process that has been around since antiquity. Modern manufacturing also
          likes
          the Deep Fat Frying (DFF), since not only does it make a unique contribution to the smell and taste of the
          food,
          but the relatively low cost of large-scale frying, has made fried foods the staple of the ever growing late
          20th-century fast food industry. The downside, however, is that the high content of saturated fats
          associated
          with DFF is considered a major factor in increasing health risks such as coronary heart disease, cancer,
          diabetes and hypertension. A large proportion of the total fat consumed in modern society is through fried
          foods.
          </br></br>
          Scientists and Food Technologists have worked hard to understand the principles of DFF in order to reduce
          the
          uptake of fat which occurs within the process. Currently, there are two processes that have achieved
          commercial
          results, the first is the application of a Barrier Emulsion which blocks the take-up of fat during the
          frying
          process; the second creates a product with the appearance of a DFF product but achieves this by using oven
          baking, resulting in all the enjoyment of fried food without the guilt.
          </br></br>
          Saturn has worked closely with Food Scientists from some of the top European Food Technology Centres to
          support
          the development of these processes. We were approached because Saturn’s Spinning Disc Technology
          demonstrably
          met the demanding criteria necessary for the successful application. Saturn’s DiscMaster™ and DiscMatic™
          products have shown that precision all over spraying with controlled deposition is crucial to achieving
          consistently high-quality low-fat products.
        </p>
      </div>
      <div class="w-3/5">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          Barrier Emulsions
        </h5>
        <p class="text-2xl">
          By applying a barrier emulsion to the food product prior to the deep fat frying process, the emulsion blocks
          the rapid take-up of oil during the initial phases of the cooking process. Careful control of the
          application
          process can ensure the finished product will be classified as low fat. Recent formulations make it
          impossible
          to discern a difference in the presentation and taste of the finished product. Control of the barrier
          application is a key part in the successful outcome of the process.
        </p>
      </div>
      <div class="w-3/5">
        <h5 class="text-4xl font-bold text-dark mb-5 mt-5">
          The Low Fat Chip and Roast Potatoes
        </h5>
        <p class="text-2xl">
          The humble potato is sometimes considered as the mainstay of western cuisine. Served roasted, chipped,
          sautéed, scalloped or just plain mashed, the versatile potato has always been popular. However, in the last
          few decades, it is perhaps fitting that the two more unhealthy versions the potato, the ‘chip’ and the
          ‘roasted’ potato have undergone a healthy makeover. Modern production techniques have been applied to
          provide
          us with the oven cooked low-fat chip and the low-fat roasted potato, all the flavour with only a little of
          the
          guilt.
          </br></br>
          Without completely demystifying an elaborate and carefully controlled production process, the essential aim
          of
          the ‘low-fat’ potato product, is to carefully control the type and amount of oil take-up in the cooking
          process. By pre-covering the potato with exactly the correct amount of oil coverage by weight, the final
          oven
          cooked product will be perfect every time.
          </br></br>
          By applying a ‘3D all over spray’ of oil to a mono-layer of the potato product, Saturn Spraying’s
          DiscMaster™
          and DiscMatic™ are up to the task of applying the precision control to the spray process. Without this
          control, it would be impossible to claim the ‘low-fat’ accolade so necessary for this process.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="relative pb-16 mt-6">
    <div class="max-w-md mx-auto px-7 sm:max-w-3xl lg:max-w-7xl">
      <div class="relative px-6 py-10 overflow-hidden shadow-xl rounded-2xl sm:px-12 sm:py-20" style="background: #FE590F;
          border-radius: 5px;">
        <div class="relative">
          <div class="text-left">
            <h2 class="font-bold text-4xl tracking-tight text-white text-left">
              Intrested?
            </h2>
            <p class="text-2xl font-semibold text-white">Would you like to find out more about this subject?</p>
            <p class="text-2xl font-semibold text-white pt-4">Do you have an application that could use this technology?
            </p>
          </div>
        </div>
        <div class="relative">
          <div class="flex">
            <div class="justify-start">
              <div class="mt-12 sm:mx-auto sm:flex sm:max-w-lg w-1/6">
                <a href="/"
                  class="block w-full px-5 py-3 text-xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 text-center font-medium text-grey-darker bg-white border border-amber-500 rounded-md shadow hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                  Find out more <span class="ml-2">&#8594;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}