{{ define "main" }}

<section
    class="relative overflow-hidden {{ .Params.color }} pb-12 pt-20 sm:pb-16 sm:pt-32 lg:pb-24 xl:pb-32 xl:pt-40">
    <div class="relative z-10">
        <div
            class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
            <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary opacity-20" aria-hidden="true">
                <defs>
                    <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
                        patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
                        <path d="M.5 200V.5H200" fill="none"></path>
                    </pattern>
                </defs>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
                </rect>
            </svg>
        </div>
    </div>
    <div class="relative z-20 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                {{ .Title }}
            </h1>
            <h2 class="mt-6 text-lg leading-8 font-medium font-poppins text-gray-600">
                {{ .Params.subheading }}
            </h2>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a class="isomorphic-link isomorphic-link--internal inline-flex items-center justify-center gap-2 rounded-xl bg-primary px-4 py-3 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                    href="/contact/">Contact Us
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</section>

<section class="bg-white">
    <div class="container mx-auto">
        <div class="flex flex-row justify-center">
            <div>
                <h2 class="py-12 md:py-36 text-2xl md:text-4xl max-w-5xl text-center font-poppins">
                    {{ .Params.quotation }}
                </h2>
                <!-- <p class="text-xl max-w-2xl text-center">Branding projects are larger, more complex and take time. They should start at the very foundation of your business and build from there.
            <br><br>
                This is not just about the creativity, that’s covered by Logo Design and Corporate Identity.</p> -->
            </div>
        </div>
    </div>
</section>
<section class="bg-white container mx-auto">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="font-light text-gray-800 max-w-5xl sm:text-lg dark:text-gray-400">
            <div class="my-4">
                {{ $featured := .Params.image1 }}
                {{ with .Resources.GetMatch $featured }}
                {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                <img src="{{ $postimage }}" class="w-full bg-cover rounded-2xl" alt="{{ .Params.description }}"
                    title="{{ .Params.description }}" />
                {{ end }}
            </div>

        </div>
        <div class="grid grid-cols-1 gap-4 mt-8">
            <h2 class="mb-4 text-3xl md:text-4xl max-w-lg font-bold text-left">{{ .Params.heading1 }}</h2>

            <p class="mb-8 leading-relaxed text-left">
                {{ .Params.paragraph2 }}
            </p>
        </div>
    </div>

</section>


<section class="relative pb-16 pt-6">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="max-w-5xl mt-12">
                <h2
                    class="mt-12 max-w-5xl mx-auto text-center text-2xl font-semibold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-4xl">
                    {{ .Params.heading3 }}
                </h2>
                <p class="mb-8 leading-relaxed max-w-2xl text-center">
                    {{ .Params.paragraph3 }}

                </p>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="grid grid-cols-1 gap-16 md:grid-cols-3 ">
                <div class="w-auto mb-4 md:mb-0">
                    <div class="flex justify-center md:justify-start">
                        {{ $image4 := .Params.benefits.icon1 }}
                        {{ with .Resources.GetMatch $image4 }}
                        {{ $postimage := .RelPermalink }}
                        <img src="{{ $postimage }}" class="h-32  rounded-2xl" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                    </div>
                    <!-- {{ with resources.Get "images/telemarketing/icons/leads.png" }}
                    {{ $together := .RelPermalink }}
                    <div class="w-1/4 mb-4 md:mb-0">
                        <img src="{{$together}}" class="w-auto" alt="asdasd">
                    </div>
                    {{ end }} -->
                    <h4 class="text-2xl font-poppins text-center md:text-left font-bold">{{ .Params.benefits.heading1 }}</h4>
                    <p class="font-medium text-center md:text-left  text-xl py-2">
                        {{ .Params.benefits.paragraph1 }}
                    </p>
                </div>
                <div class="w-auto mb-4 md:mb-0">
                    <div class="flex justify-center md:justify-start">
                        {{ $image4 := .Params.benefits.icon2 }}
                        {{ with .Resources.GetMatch $image4 }}
                        {{ $postimage := .RelPermalink }}
                        <img src="{{ $postimage }}" class="h-32  rounded-2xl" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                    </div>
                    
                    <h4 class="text-2xl font-poppins text-center md:text-left  font-bold">{{ .Params.benefits.heading2 }}</h4>
                    <p class="font-medium  text-center md:text-left text-xl py-2">
                        {{ .Params.benefits.paragraph2 }}
                    </p>
                </div>
                <div class="w-auto mb-4 md:mb-0">
                    <div class="flex justify-center md:justify-start">
                        {{ $image4 := .Params.benefits.icon3 }}
                        {{ with .Resources.GetMatch $image4 }}
                        {{ $postimage := .RelPermalink }}
                        <img src="{{ $postimage }}" class="h-32  rounded-2xl" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                    </div>
                    
                    <h4 class="text-2xl font-poppins  text-center md:text-left font-bold">{{ .Params.benefits.heading3 }}</h4>
                    <p class="font-medium text-center md:text-left  text-xl py-2">
                        {{ .Params.benefits.paragraph3 }}
                    </p>
                </div>
            </div>
        </div>
        <div class="max-w-4xl mx-auto mt-16">
            <p class="text-base text-center">{{ .Params.description3 }}</span>.
            </p>
        </div>
        <div class="flex justify-center">
            <div class="max-w-7xl mx-auto mt-4">
                <a href="/contact/"
                    class="block px-5 py-3 text-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl items-center  mx-auto">

            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    {{ $image4 := .Params.image2 }}
                    {{ with .Resources.GetMatch $image4 }}
                    {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                    <img src="{{ $postimage }}" class="w-full  rounded-2xl" alt="{{ .Params.description }}"
                        title="{{ .Params.description }}" />
                    {{ end }}
                </div>
            </div>
            <div
                class="w-full md:w-1/2 max-w-md mx-auto items-start mb-16 text-left text-lg lg:flex-grow lg:w-1/2 md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium leading-none text-neutral-600">
                    {{ .Params.heading4 }}
                </h2>
                <p class="mb-4 max-w-xl text-base leading-relaxed text-left font-medium">
                    {{ .Params.paragraph4 }}
                </p>
                <a href="/contact/"
                class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                <span class="font-bold">Interested?</span> Contact Now
            </a>
            </div>

            
        </div>
    </div>
    </div>
</section>

<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl items-center    mx-auto">
            <div
                class="w-full md:w-1/2 max-w-md mx-auto items-start mb-16 text-left text-lg lg:flex-grow lg:w-1/2  md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium leading-none text-neutral-600">
                    {{ .Params.heading5 }}

                </h2>
                <p class="mb-4 max-w-xl  text-base leading-relaxed text-left font-medium">
                    {{ .Params.paragraph5 }}

                </p>
                <a href="/contact/"
                    class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    <div class="aspect-w-16 aspect-video md:aspect-square">
                        {{ $image4 := .Params.image3 }}
                    {{ with .Resources.GetMatch $image4 }}
                    {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                    <img src="{{ $postimage }}" class="w-full  rounded-2xl" alt="{{ .Params.description }}"
                        title="{{ .Params.description }}" />
                    {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl items-center    mx-auto">

            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    <div class="aspect-w-16 aspect-video md:aspect-square">
                        {{ $image4 := .Params.image4 }}
                    {{ with .Resources.GetMatch $image4 }}
                    {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                    <img src="{{ $postimage }}" class="w-full  rounded-2xl" alt="{{ .Params.description }}"
                        title="{{ .Params.description }}" />
                    {{ end }}
                    </div>
                </div>
            </div>
            <div
                class="w-full md:w-1/2 max-w-md mx-auto items-start mb-16 text-left text-lg lg:flex-grow lg:w-1/2  md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium leading-none text-neutral-600">
                    {{ .Params.heading6 }}

                </h2>
                <p class="mb-4 max-w-xl  text-base leading-relaxed text-left font-medium">
                    {{ .Params.paragraph6 }}

                </p>
                <a href="/contact/"
                    class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl   items-center  mx-auto">
            <div
                class="w-full md:w-1/2 max-w-md mx-auto items-start mb-16 text-left text-lg lg:flex-grow lg:w-1/2  md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium leading-none text-neutral-600">
                    {{ .Params.heading7 }}

                </h2>
                <p class="mb-4 max-w-xl  text-base leading-relaxed text-left font-medium">
                    {{ .Params.paragraph7 }}

                </p>
                <a href="/contact/"
                    class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    <div class="aspect-w-16 aspect-video md:aspect-square">
                        {{ $image4 := .Params.image5 }}
                        {{ with .Resources.GetMatch $image4 }}
                        {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                        <img src="{{ $postimage }}" class="w-full  rounded-2xl" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{ end }}