{{ define "main" }}

<section>
    <!-- Hero -->
    <div class="relative overflow-hidden {{ .Params.color }}">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
            <div class="mt-5 max-w-2xl text-center mx-auto">
                <h1 class="block font-bold text-gray-800 text-3xl md:text-4xl lg:text-5xl">
                    <span class="bg-clip-text bg-gray-900 text-transparent">{{ .Title }}</span>
                </h1>
            </div>
            <!-- End Title -->

            <div class="mt-5 max-w-3xl text-center mx-auto">
                <p class="text-xl text-gray-600">{{ .Params.subheading }}</p>
            </div>
        </div>
    </div>
    <!-- End Hero -->
</section>

<section class="bg-gray-50 py-8">
    <div class="container mx-auto">
        <div class="gap-16 items-center flex flex-col md:flex-row px-4 mx-auto  lg:px-6">
            <div class="font-light  order-2 md:order-none w-full w-1/2  max-w-5xl sm:text-lg dark:text-gray-400">
                <h2
                    class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-gray-900">
                    {{ .Params.heading1 }}</h2>
                <p class="mb-8 leading-relaxed text-left">
                    {{ .Params.paragraph1 }}
                </p>
                <div class="flex justify-center mt-6 md:justify-start">
                    <a href="/contact"
                        class="block px-5 mt-2 py-3 text-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="w-full w-1/2">
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="w-full rounded-lg" src="{{ .Params.image1 }}" alt="office content 1">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{{ .Params.image2 }}" alt="office content 2">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl items-center mx-auto">

            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    {{ $image4 := .Params.image1 }}
                    {{ with .Resources.GetMatch $image4 }}
                    {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                    <img src="{{ $postimage }}" class="w-full  rounded-2xl my-8 md:my-0" alt="{{ .Params.description }}"
                        title="{{ .Params.description }}" />
                    {{ end }}
                </div>
            </div>
            <div
                class="w-full md:w-1/2 max-w-md mx-auto items-start mb-16 font-light text-left text-lg lg:flex-grow lg:w-1/2  md:mb-0 xl:mt-0">
                <h2
                    class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium  leading-none text-neutral-600">
                    {{ .Params.heading2 }}

                </h2>
                <p class="mb-4 max-w-xl  text-base leading-relaxed text-left">
                    {{ .Params.paragraph2 }}

                </p>
                <a href="/contact/"
                    class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="px-4 py-12 mx-auto sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap max-w-6xl   items-center  mx-auto">
            <div
                class="w-full md:w-1/2  order-2 md:order-none max-w-md mx-auto items-start mb-16 text-left text-lg lg:flex-grow lg:w-1/2  md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl max-w-xl lg:text-4xl font-medium leading-none text-neutral-600">
                    {{ .Params.heading3 }}

                </h2>
                <p class="mb-4 max-w-xl  text-base leading-relaxed text-left font-light">
                    {{ .Params.paragraph3 }}

                </p>
                <a href="/contact/"
                    class="block px-5 py-3 text-xl max-w-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="relative w-full max-w-lg">
                    {{ $image4 := .Params.image2 }}
                    {{ with .Resources.GetMatch $image4 }}
                    {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                    <img src="{{ $postimage }}" class="w-full  rounded-2xl my-8 md:my-0" alt="{{ .Params.description }}"
                        title="{{ .Params.description }}" />
                    {{ end }}
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg-gray-50 py-12 md:py-40">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{{ .Params.image3 }}" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{{ .Params.image4 }}" alt="office content 2">
        </div>
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-gray-900">
                {{ .Params.heading4 }}</h2>
            <p class="mb-8 leading-relaxed text-left">
                {{ .Params.paragraph4 }}
            </p>
            <div class="flex justify-center mt-6 md:justify-start">
                <a href="/contact"
                    class="block px-5 mt-2 py-3 text-xl text-center font-medium text-white bg-primary border border-red-500 rounded-md shadow hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
</section>

{{ end }}