{{define "main"}}

<main class="mb-16">

    <div class="relative bg-white items-center justify-center w-full overflow-x-hidden overflow-hidden pt-20 md:pt-16">
        <div class="relative z-10">
            <div
                class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
                <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary opacity-10" aria-hidden="true">
                    <defs>
                        <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
                            patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
                            <path d="M.5 200V.5H200" fill="none"></path>
                        </pattern>
                    </defs>
                    <svg x="50%" y="50%" class="overflow-visible fill-amber-50">
                        <path d="M-300 0h201v201h-201Z M300 200h201v201h-201Z" stroke-width="0"></path>
                    </svg>
                    <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
                    </rect>
                </svg>
            </div>
        </div>
        <div class="pt-8 px-4 mx-auto max-w-screen-xl text-center lg:pt-16 lg:px-12 relative z-10">

            <span
                class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-neutral font-medium text-secondary">What
                we offer</span>
            <h1
                class="mb-4 text-3xl max-w-4xl mx-auto font-medium tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl">
                Our Services</h1>
            <p class="mb-8 text-xl md:text-2xl font-normal text-gray-500  sm:px-16 xl:px-48 dark:text-gray-400">
                This is what we love doing for our clients</p>
        </div>
    </div>


    <section class="bg-gray-50 relative z-10">
        <div class="container mx-auto">
            <div class="w-full  flex flex-col md:flex-row justify-center md:justify-between items-center my-6 py-12">
                <h2 class="text-2xl md:text-4xl font-medium">Browse services</h2>
                <div class="relative w-full md:max-w-md">
                    <form action="{{ `search` | relURL }}" class="flex flex-row lg:flex-row">

                        <input type="search" name="q" id="search-query"
                            class="w-full p-2 px-8 border-l border-gray-300 rounded-md"
                            placeholder="Search services...">
                        <!--Search button-->
                        <button
                            class="relative z-[2] flex items-center rounded-r bg-secondary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary hover:shadow-lg focus:bg-primary focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-500 active:shadow-lg"
                            type="submit" id="button-search" data-te-ripple-init data-te-ripple-color="light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="h-5 w-5">
                                <path fill-rule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </form>
                    <div class="absolute inset-y-0 start-0 px-2 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4  text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                </div>

            </div>
            <!-- Services Grid -->

            <div class=" mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-6">
                    {{ range .Pages }}
                    <div class="">
                        <a class="group service-item" href="{{.RelPermalink}}">
                            {{ $featured := .Params.featuredImage }}
                            {{ with .Resources.GetMatch $featured }}
                            {{ $small := (.Resize "400x webp q80").RelPermalink }}
                            {{ $medium := (.Resize "550x webp q80").RelPermalink }}
                            {{ $large := (.Resize "900x webp q80").RelPermalink }}
                            {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                            <img src="{{ $postimage }}" srcset="
                            {{- with $small -}}, {{.}} 400w{{- end -}}
                            {{- with $medium -}}, {{.}} 550w{{- end -}}
                            {{- with $large -}}, {{.}} 768w{{- end -}}
                            {{- with $postimage -}}, {{.}} 1100w{{- end -}}"
                                class="object-cover overflow-hidden rounded-lg h-64" width="100%"
                                alt="{{ .Params.title }}" />
                            {{ end }}
                            <div class="py-4 flex flex-col h-full sm:p-6">
                                <h3
                                    class="h3 text-secondary hover:text-blue-800 dark:text-gray-300 dark:group-hover:text-white">
                                    {{ .Title }}
                                </h3>
                                <p class="mt-2 text-base">
                                    {{ .Summary | truncate 100 }}
                                </p>
                                <a href="{{ .RelPermalink }}"
                                    class="text-secondary hover:text-blue-800 font-semibold">Learn more →</a>

                            </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "customer-navigation.html" . }}

</main>
<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        const searchQuery = this.value.toLowerCase();
        const services = document.querySelectorAll('.service-item');

        services.forEach(service => {
            const title = service.querySelector('h3').innerText.toLowerCase();
            const description = service.querySelector('p').innerText.toLowerCase();

            if (title.includes(searchQuery) || description.includes(searchQuery)) {
                service.classList.remove('hidden');
            } else {
                service.classList.add('hidden');
            }
        });
    });

    // Prevent form submission since search is done automatically
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
    });
</script>
{{ end }}