{{define "main"}}

<main class="mb-16">

    <section>
        <div class="relative bg-white items-center justify-center w-full overflow-y-hidden pt-20 lg:pt-40">
            <div class="relative z-10">
                <div
                    class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
                    <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary opacity-10" aria-hidden="true">
                        <defs>
                            <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
                                patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
                                <path d="M.5 200V.5H200" fill="none"></path>
                            </pattern>
                        </defs>
                        <svg x="50%" y="50%" class="overflow-visible fill-amber-50">
                            <path d="M-300 0h201v201h-201Z M300 200h201v201h-201Z" stroke-width="0"></path>
                        </svg>
                        <rect width="100%" height="100%" stroke-width="0"
                            fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
                        </rect>
                    </svg>
                </div>
            </div>
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
                <span
                    class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-neutral font-medium text-secondary">What
                    we offer</span>
                <h1
                    class="mb-4 text-3xl max-w-4xl mx-auto font-medium tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl">
                    Our Services</h1>
            </div>
        </div>
    </section>


    <section class="bg-gray-50 relative z-10 
    ">
        <div class="container mx-auto">
            <div class="w-full  flex flex-col md:flex-row justify-center md:justify-between items-center my-6">
                <h2 class="text-2xl md:text-4xl font-medium">Browse services</h2>
                <div class="relative w-full md:max-w-md">
                    <input id="searchInput" type="text" class="w-full p-2 px-8 border border-gray-300 rounded-md"
                        placeholder="Search services...">
                    <div class="absolute inset-y-0 start-0 px-2 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4  text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                </div>

            </div>
            <!-- Services Grid -->

            <div class=" mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-6">
                    {{ range .Pages }}
                    <div class="">
                        <a class="group service-item" href="{{.RelPermalink}}">
                            {{ $featured := .Params.featuredImage }}
                            {{ with .Resources.GetMatch $featured }}
                            {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                            <img src="{{ $postimage }}" class="w-full h-64 rounded-2xl bg-cover" alt="{{ .Params.description }}"
                                title="{{ .Params.description }}" />
                            {{ end }}
                            <div class="py-4 flex flex-col h-full sm:p-6">
                                <h3
                                    class="h3 text-blue-600 hover:text-blue-800 dark:text-gray-300 dark:group-hover:text-white">
                                    {{ .Title }}
                                </h3>
                                <p class="mt-2 text-base">
                                    {{ .Summary | truncate 100 }}
                                </p>
                                <a href="{{ .RelPermalink }}" class="text-blue-600 hover:text-blue-800 font-semibold">Learn more →</a>

                            </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>


</main>
<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        const searchQuery = this.value.toLowerCase();
        const services = document.querySelectorAll('.service-item');

        services.forEach(service => {
            const title = service.querySelector('h3').innerText.toLowerCase();
            const description = service.querySelector('p').innerText.toLowerCase();

            if (title.includes(searchQuery) || description.includes(searchQuery)) {
                service.classList.remove('hidden');
            } else {
                service.classList.add('hidden');
            }
        });
    });

    // Prevent form submission since search is done automatically
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
    });
</script>
{{ end }}