{{define "main"}}


<section class="relative md:pb-24 md:pt-12 pb-16 pt-6">

    <div class="lg:container mx-auto">
        {{ partial "single-page-nav" . }}

        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-8 md:col-span-6">
                <div class="px-6 border-r">

                    {{ with .Resources.GetMatch .Params.featuredImage }}
                    {{ $small := (.Resize "400x webp q80").RelPermalink }}
                    {{ $medium := (.Resize "550x webp q80").RelPermalink }}
                    {{ $large := (.Resize "900x webp q80").RelPermalink }}
                    {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
                    <img src="{{ $featuredimage }}" srcset="
                  {{- with $small -}}, {{.}} 400w{{- end -}}
                  {{- with $medium -}}, {{.}} 550w{{- end -}}
                  {{- with $large -}}, {{.}} 768w{{- end -}}
                  {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
                        class="object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"
                        width="100%" alt="{{ .Params.title }}" />
                    {{ end }}

                    <article class="prose dark:prose-invert lg:prose-xl mt-6">
                        {{.Content}}
                    </article>
                </div>


            </div>

            {{ partial "single-page-sidebar" . }}
        </div>
    </div><!--end grid-->
</section>

{{end}}