{{define "main"}}

<main class="mb-16">

  <div class="relative bg-white items-center justify-center w-full overflow-y-hidden pt-20 lg:pt-40">
    <div class="relative z-10">
      <div
        class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
        <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary opacity-10" aria-hidden="true">
          <defs>
            <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
              patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
              <path d="M.5 200V.5H200" fill="none"></path>
            </pattern>
          </defs>
          <svg x="50%" y="50%" class="overflow-visible fill-amber-50">
            <path d="M-300 0h201v201h-201Z M300 200h201v201h-201Z" stroke-width="0"></path>
          </svg>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
          </rect>
        </svg>
      </div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
      <span
        class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-slate-50 font-medium text-secondary">Portfolio</span>
      <h1
        class="mb-4 my-8 text-4xl max-w-4xl mx-auto font-medium tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
        Signs Portfolio</h1>
    </div>
  </div>

  <!-- {{ $products := getJSON "/data/products.json" }}

  <section class="container pt-12 mb-12 mx-auto">
      <div class="flex justify-center">
          <h2 class="font-semibold mt-4 text-4xl leading-snug lg:text-5xl lg:leading-[62px] text-slate-800 mb-12">Outdoor Garden Products</h2>
      </div>
      <div class="flex-row md:flex space-y-4 gap-x-6 justify-center">
              {{ range $products }}
          {{ partial "product.html" . }}
          {{ end }}
      </div>
  </section> -->

  <section class="relative bg-gray-50 pt-4 lg:pt-20 z-20">
    <div class="container mx-auto px-2">
      {{ range $index, $element := (where .Site.RegularPages "Section" "portfolio") }}
      {{ if mod $index 2 }}
      <!-- Odd Index: Image on the right -->
      <div class="flex flex-col md:flex-row mb-16 rounded-lg shadow-lg bg-white">
        <div class="md:w-1/2 flex items-center justify-center p-10">
          <div class="w-1/2 text-center md:text-left">
            <h3 class="text-2xl md:text-4xl font-semibold my-4 md:my-0">
              <a class="text-gray-900 my-2 md:my-0" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            {{ if .Params.summary }}
            <p class="mt-3 text-gray-600">{{ .Params.summary }}</p>
            {{ else }}
            <p class="mt-3 text-gray-600">{{ .Params.description }}</p>
            {{ end }}
            <a href="{{ .RelPermalink }}"
              class="mt-4 my-4 md:my-2 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary hover:bg-red-700 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              View case study
            </a>
          </div>
        </div>
        <div class="md:w-1/2 order-1 md:order-2">
          <a href="{{ .RelPermalink }}">
            {{ with .Resources.GetMatch .Params.featuredImage }}
            {{ $postimage := (.Resize "600x400 webp q90").RelPermalink }}
            <img class="rounded-xl md:py-12 md:px-12 px-4 py-4" src="{{ $postimage }}" alt="{{ .Title }}">
            {{ else }}
            {{ $im := (.Resources.Get .Params.featuredImage) }}
            {{ $im }}
            {{ end }}
          </a>
        </div>
      </div>
      {{ else }}
      <!-- Even Index: Image on the left -->
      <div class="flex flex-col md:flex-row mb-16 rounded-lg shadow-lg bg-white">
        <div class="md:w-1/2">
          <a href="{{ .RelPermalink }}">
            {{ with .Resources.GetMatch .Params.featuredImage }}
            {{ $postimage := (.Resize "600x400 webp q90").RelPermalink }}
            <img class="rounded-lg md:py-12 md:px-12 px-4 py-4" src="{{ $postimage }}" alt="{{ .Title }}">
            {{ else }}
            {{ $im := (.Resources.Get .Params.featuredImage) }}
            {{ $im }}
            {{ end }}
          </a>
        </div>
        <div class="md:w-1/2 flex items-center justify-center p-5">
          <div class="w-1/2 text-center md:text-left">
            <h3 class="text-2xl md:text-4xl font-semibold">
              <a class="text-gray-900 my-4 md:my-0" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            {{ if .Params.summary }}
            <p class="mt-3 text-gray-600">{{ .Params.summary }}</p>
            {{ else }}
            <p class="mt-3 text-gray-600">{{ .Params.description }}</p>
            {{ end }}
            <a href="{{ .RelPermalink }}"
              class="mt-4 my-4 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary hover:bg-red-700 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              View case study
            </a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </section>



</main>

{{ end }}