{{define "main"}}

<section class="relative md:pb-24 md:pt-12 pb-16 pt-6">

  <div class="container mx-auto pt-12">
    <div class="">
      <h1 class="my-3 p-2 md:p-5 text-4xl md:text-5xl xl:text-5xl font-medium tracking-tight mx-auto text-left">{{ .Title
        }}</h1>
      <div class="flex my-4 container lg:my-8">
        {{ range $elem_index, $elem_val := (.GetTerms "categories") }}
        <a href="{{.RelPermalink}}" class="uppercase pb-4 pr-4"><span
            class="inline-block bg-purple-100 text-purple-800 py-1 px-3 rounded-full text-sm uppercase tracking-wider">{{
            .LinkTitle }}</span></a>
        {{- end -}}
      </div>
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row gap-2 my-8">
          <div class="flex flex-1 flex-col">
            <div class="flex flex-1 flex-col">
              <!-- img_01 (main image) -->
              <img class="object-cover h-full w-full rounded-lg" src="{{ .Params.image1 }}" alt="Main Image">
            </div>
          </div>
          <div class="flex flex-1">
            <div class="grid grid-cols-2 gap-2">
              <!-- img_02 -->
              <img class="object-cover h-full w-full rounded-lg" src="{{ .Params.image2 }}" alt="Image 2">
              <!-- img_03 -->
              <img class="object-cover h-full w-full rounded-lg" src="{{ .Params.image3 }}" alt="Image 3">
              <!-- img_04 -->
              <img class="object-cover h-full w-full rounded-lg" src="{{ .Params.image4 }}" alt="Image 4">
              <!-- img_05 (duplicate of img_01 or you can use another image) -->
              <img class="object-cover h-full w-full rounded-lg" src="{{ .Params.image1 }}" alt="Image 5">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
      <div class="px-6 lg:px-0 lg:col-span-2 md:col-span-2">
        <div class="flex flex-col mx-8 my-6">
          <h6 class="text-center md:text-left"><strong>Client </strong></h6>
          <div class="text-gray-500 my-4"> {{ .Params.client }} </div>
        </div>
        <div class="flex flex-col mx-8 my-6">
          <h6 class="text-center md:text-left"><strong>Industry </strong></h6>
          <div class="text-gray-500 my-4"> {{
            .Params.industry }} </div>
        </div>
        <div class="flex flex-col mx-8 my-6">
          <h6 class="text-center md:text-left"><strong>Company Size </strong></h6>
          <div class="text-gray-500 my-4"> {{ .Params.company_size }}</div>
        </div>
        <div class="flex flex-col mx-8 my-6">
          <h6 class="text-center md:text-left"><strong>Head Quarters</strong></h6>
          <div class="text-gray-500 my-4"> {{ .Params.headquarters }} </div>
        </div>
        <div class="flex flex-col mx-8 my-6">
          <h6 class="text-center md:text-left"><strong>Project Duration</strong></h6>
          <div class="text-gray-500 my-4"> {{ .Params.project_duration }} </div>
        </div>
      </div>
      <div class="lg:col-span-10 md:col-span-6">
        <div class="px-6">
          <article class="prose dark:prose-invert lg:prose-xl mt-6">
            {{ .Content }}
          </article>
        </div>
        <script>
          function getImageUrl(index) {
            // Define an array containing the image URLs corresponding to featuredImage, image1, image2, image3
            const imageUrls = [
              '{{ .Params.featuredImage }}',
              '{{ .Params.image1 }}',
              '{{ .Params.image2 }}',
              '{{ .Params.image3 }}',
            ];

            // Return the URL of the image based on the index (1-based)
            return imageUrls[index - 1];
          }
        </script>
      </div>
    </div>
  </div>
</section>

{{ end }}