<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body class="bg-white">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP87DJBR" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
​​    <div hidden id="snipcart" data-api-key="YmYxZTJjMTMtYTRhYS00MDAxLWFmYTYtZmM2NGI2YjljMmFkNjM4Mjk2NzY0NjQyNzI4MDUy"></div>
</body>
{{ partial "footer-scripts" . }}

</html>