{{ define "main" }}

<main>
  <div class="relative bg-white items-center justify-center w-full overflow-x-hidden overflow-hidden pt-20 md:pt-16">
    <div class="relative z-10">
        <div
            class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
            <svg class="h-[60rem] w-[100rem] flex-none stroke-secondary opacity-10" aria-hidden="true">
                <defs>
                    <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%"
                        patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
                        <path d="M.5 200V.5H200" fill="none"></path>
                    </pattern>
                </defs>
                <svg x="50%" y="50%" class="overflow-visible fill-amber-50">
                    <path d="M-300 0h201v201h-201Z M300 200h201v201h-201Z" stroke-width="0"></path>
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)">
                </rect>
            </svg>
        </div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 relative z-10">
        
            <span class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-neutral font-medium text-secondary">News, Tips & More</span>
        <h1
            class="mb-4 text-3xl max-w-4xl mx-auto font-medium tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl">
            Blog</h1>
        <p class="mb-8 text-xl md:text-2xl font-normal text-gray-500  sm:px-16 xl:px-48 dark:text-gray-400">
            Find latest trends and tips from the best</p>
    </div>

  <ul>
    {{ range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
  </ul>

  <section class="z-10 relative bg-gray-50">
    <div class="container mx-auto">
      <div class=" flex flex-col md:flex-row  justify-between items-center">
        <h2 class="text-2xl md:text-4xl font-medium my-8 md:my-0">Browse some of our articles</h2>
        <div class="w-96 flex flex-col my-4 p-6">
          <form action="{{ `search` | relURL }}" class="flex flex-row lg:flex-row">
            <input type="search" name="q" id="search-query"
              class="w-full m-0 -mr-0.5 block px-4 py-2 text-gray-700 bg-white border rounded-l-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-amber-400 dark:focus:border-amber-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-amber-300"
              placeholder="Search for..." placeholder="Search" aria-label="Search" aria-describedby="button-addon1" />

            <!--Search button-->
            <button
              class="relative z-[2] flex bg-secondary items-center rounded-r px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:bg-primary focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-500 active:shadow-lg"
              type="submit" id="button-addon1" data-te-ripple-init data-te-ripple-color="light">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                <path fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="flex justify-center mb-12">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-[30px]">

        
            {{ range .Paginator.Pages }}
            <div class="">
                <a href="{{.RelPermalink}}"> 
                  {{ $featured := .Params.featuredImage }}
                  {{ with .Resources.GetMatch $featured }}
                  {{ $small := (.Resize "400x webp q80").RelPermalink }}
                  {{ $medium := (.Resize "550x webp q80").RelPermalink }}
                  {{ $large := (.Resize "900x webp q80").RelPermalink }}
                  {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                  <img src="{{ $postimage }}" srcset="
                  {{- with $small -}}, {{.}} 400w{{- end -}}
                  {{- with $medium -}}, {{.}} 550w{{- end -}}
                  {{- with $large -}}, {{.}} 768w{{- end -}}
                  {{- with $postimage -}}, {{.}} 1100w{{- end -}}"
                      class="w-full rounded-lg"
                      width="100%" alt="{{ .Params.title }}" />
                  {{ end }}
                    <div class="mt-4">
                        {{ range $elem_index, $elem_val := (.GetTerms "tags") }}
                        <a href="{{.RelPermalink}}" class="uppercase pb-4 pr-4"><span
                                class="inline-flex items-center rounded-md bg-indigo-100 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">{{
                                .LinkTitle }}</span></a>
                        {{- end -}}
                    </div>
                    <div class="py-6 xl:py-8">
                        <a href="{{.RelPermalink}}">
                            <h4 class="block font-body text-lg font-semibold text-secondary hover:text-blue-800">
                                {{.Title}}</h4>
                        </a>
                        
                        <p class="block pt-2 text-body">{{ .Summary | truncate 200 }}</p>
    
                    </div>
                    <a href="{{ .RelPermalink }}" class="text-secondary hover:text-blue-800 font-semibold">Learn more →</a>

                </a>
            </div>
            
            {{ end }}
        </div>
    </div>
    </div>




    <div class="py-12">
      <!-- Pagination -->
    {{ partial "pagination" . }}
    </div>

  </section>


  {{ partial "products-carousel.html" . }}

</main>
{{ end }}