@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./glightbox.css";

/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

.product-inner {
    position: relative;
    width: 100%;
    border-radius: .75rem;
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #f8fafc80 var(--tw-gradient-from-position);
    --tw-gradient-to: #f8fafc00 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #f1f5f900 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #f1f5f9 var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #94a3b880 var(--tw-gradient-to-position)
}

.product-inner:before {
    margin: -1px;
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #e2e8f0 var(--tw-gradient-from-position);
    --tw-gradient-to: #e2e8f000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.product-inner:after,
.product-inner:before {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: -10;
    border-radius: .75rem;
    content: var(--tw-content)
}

.product-inner:after {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .product-inner {
        --tw-gradient-to: #94a3b8 var(--tw-gradient-to-position)
    }
}

/* Typography */
.display1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl
}

.h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold;
}

.h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold;
}

.h3 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-bold;
}

.h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-semibold;
}

.h5 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-semibold;
}

.h6 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium;
}

.navheading {
    @apply text-sm md:text-lg font-semibold text-dark-800
}

/* Buttons */
.btn,
.btn-sm {
    @apply text-sm font-medium inline-flex items-center justify-center border border-transparent rounded-full whitespace-nowrap transition duration-150 ease-in-out;
}

.btn {
    @apply px-4 py-1.5;
}

.btn-sm {
    @apply px-3 py-1;
}

/* Custom CSS end */
