<section class="w-full sm:w-full md:w-full lg:w-2/3 flex flex-col items-center px-3">
    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
        {{ range .Pages }} <!-- Removed .Paginator -->
        <a class="group sm:flex" href="{{.RelPermalink}}">
            <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]">
                {{ with .Resources.GetMatch .Params.featuredImage }}
                {{ $small := (.Resize "400x webp q100").RelPermalink }}
                {{ $medium := (.Resize "550x webp q100").RelPermalink }}
                {{ $large := (.Resize "2000x webp q100").RelPermalink }}
                {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
                <img class="w-full h-full absolute top-0 left-0 object-cover" src="{{ $logoimage }}" alt="{{ .Title }}">
                {{ end }}
            </div>
            <div class="grow">
                <div class="p-4 flex flex-col h-full sm:p-6">
                    <h3 class="h3 text-gray-800 hover:text-primary dark:text-gray-300 dark:group-hover:text-white">
                        {{ .Title }}
                    </h3>
                    <p class="mt-2 text-base">
                        {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Params.description }}{{ end }}
                    </p>
                    <div class="mt-5 sm:mt-auto">
                        <p class="mt-4 inline-flex items-center gap-x-1.5 text-primary decoration-2 hover:underline font-medium">
                            Read more
                            <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
    <!-- Pagination -->
    <!-- Removed the pagination section -->
</section>
