<section class="bg-slate-800">
    <div class="py-12 md:py-20">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="relative max-w-3xl mx-auto text-center pb-12">
                <h2 class="font-inter-tight text-3xl md:text-4xl font-bold text-white mb-4">How Can The Sign Makers Help
                    You
                    Today?
                </h2>
                <p class="text-lg text-zinc-200">We know that every customer is different. Let us know what you are
                    looking for and we can guide you in the right direction</p>
            </div>

            <!-- Pricing tabs component -->
            <div class="pb-12 md:pb-20">

                <div class="max-w-sm mx-auto grid gap-6 lg:grid-cols-2 items-start lg:max-w-none">

                    <!-- Sign Types Tab 1 -->
                    <div class="h-full bg-primary rounded-xl shadow-xl">
                        <div
                            class="relative flex flex-col h-full p-6 rounded-lg border border-transparent [background:linear-gradient(var(--color-zinc-50),var(--color-zinc-50))_padding-box,linear-gradient(120deg,var(--color-zinc-300),var(--color-zinc-100),var(--color-zinc-300))_border-box]">
                            <div class="mb-4">
                                <div class="text-2xl md:text-3xl lg:text-4xl text-white font-medium leading-10 mb-1">I'm
                                    looking for a
                                    complete
                                    bespoke
                                    sign
                                    package</div>
                            </div>
                            <div class="grow">
                                <div class="text-xl md:text-2xl mb-4 text-zinc-200">Fill in our form to receive our
                                    catalogue and get a quote</div>
                            </div>
                            <div class="mt-8">
                                <a class="inline-flex w-full text-xl md:text-2xl items-center justify-center h-14 md:h-20 p-6 mr-6 font-medium tracking-wide text-dark-900 transition duration-200 rounded shadow-xl bg-white hover:bg-stone-100"
                                    href="/catalogue">
                                    Get Catalogue
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Sign Types Tab 2 -->
                    <div class="h-full bg-secondary rounded-xl shadow-xl">
                        <div
                            class="relative flex flex-col h-full p-6 rounded-lg border border-transparent [background:linear-gradient(var(--color-zinc-50),var(--color-zinc-50))_padding-box,linear-gradient(120deg,var(--color-zinc-300),var(--color-zinc-100),var(--color-zinc-300))_border-box]">
                            <div class="mb-4">
                                <div class="text-2xl md:text-3xl lg:text-4xl text-white font-medium leading-10 mb-1">I'm
                                    looking for a
                                    standardised sign solution</div>
                            </div>
                            <div class="grow">
                                <div class="text-xl md:text-2xl mb-4 text-zinc-200">Visit our online store to see what
                                    you can get
                                    today</div>
                            </div>
                            <div class="mt-8">
                                <a class="inline-flex w-full text-xl md:text-2xl items-center justify-center h-14 md:h-20 p-6 mr-6 font-medium tracking-wide text-dark-900 transition duration-200 rounded shadow-xl bg-white hover:bg-stone-100"
                                    href="https://shop.thesignmakers.com/" target="_blank">
                                    Buy Signs Online
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</section>