<section data-section-id="2" data-share="" data-category="features" data-component-id="4d2f33a1_02_awz"
    class="relative pt-24 overflow-hidden bg-gray-100">
    <div class="container mx-auto px-4 mb-12">
        <div class="flex flex-wrap -m-6">
            <div class="w-full p-6">
                <h2 class="mb-16 max-w-3xl mx-auto font-heading font-bold text-center text-4xl sm:text-5xl text-gray-900"
                    data-config-id="auto-txt-1-2">Expert sales people ready to help your business grow</h2>
                <div class="flex flex-wrap -m-6">
                    <div class="w-full lg:w-1/2 p-6">
                        <div class="mb-11 lg:max-w-sm">
                            <div class="flex">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                    enable-background="new 0 0 64 64">
                                    <path
                                        d="M32,2C15.431,2,2,15.432,2,32c0,16.568,13.432,30,30,30c16.568,0,30-13.432,30-30C62,15.432,48.568,2,32,2z M25.025,50
                                    l-0.02-0.02L24.988,50L11,35.6l7.029-7.164l6.977,7.184l21-21.619L53,21.199L25.025,50z"
                                        fill="#43a047" />
                                </svg>
                                <h3 class="ml-3 mb-4 bg-clip-text text-red-900 font-bold font-heading text-xl"
                                    data-config-id="auto-txt-2-2">
                                    Save on costs</h3>
                            </div>

                            <p class="text-gray-600 text-lg" data-config-id="auto-txt-3-2">Outsourced sales will save
                                you money by reducing the need for hiring and training in-house sales staff. Leverage
                                our in house sales expertise to get improved sales results and a much better
                                return on your investment.</p>
                        </div>
                        <div class="mb-11 lg:max-w-sm">
                            <div class="flex">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                enable-background="new 0 0 64 64">
                                <path
                                    d="M32,2C15.431,2,2,15.432,2,32c0,16.568,13.432,30,30,30c16.568,0,30-13.432,30-30C62,15.432,48.568,2,32,2z M25.025,50
                                l-0.02-0.02L24.988,50L11,35.6l7.029-7.164l6.977,7.184l21-21.619L53,21.199L25.025,50z"
                                    fill="#43a047" />
                            </svg>
                            <h3 class="ml-3 mb-4 bg-clip-text text-red-900 font-bold font-heading text-xl"
                                data-config-id="auto-txt-4-2">Increased flexibility</h3>
                            </div>
                            <p class="text-gray-600 text-lg" data-config-id="auto-txt-5-2">With no long term
                                contracts, you can scale up or down their sales efforts quickly based on changes in
                                demand for your products or services.</p>
                        </div>
                        <div class="lg:max-w-sm">
                            <div class="flex">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                enable-background="new 0 0 64 64">
                                <path
                                    d="M32,2C15.431,2,2,15.432,2,32c0,16.568,13.432,30,30,30c16.568,0,30-13.432,30-30C62,15.432,48.568,2,32,2z M25.025,50
                                l-0.02-0.02L24.988,50L11,35.6l7.029-7.164l6.977,7.184l21-21.619L53,21.199L25.025,50z"
                                    fill="#43a047" />
                            </svg>
                            <h3 class="ml-3 mb-4 bg-clip-text text-red-900 font-bold font-heading text-xl"
                                data-config-id="auto-txt-6-2">Save time</h3>

                                </div>
                            <p class="text-gray-600 text-lg" data-config-id="auto-txt-7-2">Outsourcing your sales will
                                free up your time and resources to focus on other core business activities. Get access
                                to skilled professionals who specialize in sales, as opposed to having to rely solely on
                                your own time consuming recruitment and training efforts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ $heroOne := resources.GetMatch "images/dahsboard.png" }}

    <div
        class="ml-auto lg:absolute lg:top-64 lg:right-0 lg:w-1/2 max-w-max overflow-hidden text-red-900 font-bold rounded-tl-3xl rounded-bl-3xl bg-gradient-to-r from-cyan-500 to-blue-500">
        <img class="relative left-16 top-16 transform hover:-translate-x-5 hover:-translate-y-5 transition ease-in-out duration-500"
            src="{{ $heroOne.RelPermalink }}" alt="" data-config-id="auto-img-1-2">
    </div>
</section>