<hr />
<div class="container mx-auto my-12">

    <div>This website is operated and maintained by Outsourced Sales (the company). Use of the website is governed by it's Terms Of Service and Privacy Policy.</div>

    <div>
    Outsourced Sales is a sales and marketing company. We do not sell a business opportunity, “get rich quick” program or money-making system. We believe, with the right education and use of the correct marketing and sales strategies, individuals can be better prepared to make investment decisions to grow their business. However, we do not guarantee success in our training or provided service. We do not make earnings claims, efforts claims, or claims that our training or provided service will make you any money.
    </div>
    <div>
    All material is intellectual property and protected by copyright. Any duplication, reproduction, or distribution is strictly prohibited. Please see our Full Disclosure for important details.
    </div>
    <div>
    Following any kind of business advice or training carries risk and it is possible to lose some or all of your money. The training provided is general in nature, and some strategies may not be appropriate for all individuals or all situations. We make no representation regarding the likelihood or probability that any actual or hypothetical use of the strategies will achieve a particular outcome or perform in any predictable manner.
    </div>
    <div>
    Statements and depictions are the opinions, findings, or experiences of individuals who generally have purchased or followed our education and training. Results vary, are not typical, and rely on individual effort, time, and skill, as well as unknown conditions and other factors. We do not measure earnings or financial performance. Instead, we track completed transactions and satisfaction of services by voluntary surveys. You should not, however, equate completed sales closing transactions with financially successful transactions. Further, many customers do not continue with the program, do not apply what they learn, or do attempt to apply what they learn but nonetheless have difficulty in making sales successful for them.
    </div>
    <div>
    The Company may link to content or refer to content and/or services created by or provided by third parties that are not affiliated with the Company. The Company is not responsible for such content and does not endorse or approve it. The Company may provide services by or refer you to third-party businesses. Some of these businesses have common interest and ownership with the Company.
    </div>
  
</div>