<section class="pt-24 pb-32 bg-white overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="max-w-md mx-auto mb-20">
        <h2 class="mb-4 font-heading font-semibold text-center text-4xl sm:text-5xl text-gray-900" data-config-id="auto-txt-1-4">Got questions?</h2>
        <p class="text-lg text-gray-600 text-center" data-config-id="auto-txt-2-4">We are not a good fit for everyone. Here are some answers to common questions to help you decide if our service is right for you.</p>
      </div>
      <div class="flex flex-wrap -m-6 mb-24">
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-3-4">How can Outsourced Sales help my business?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-4-4">If you are at the stage where you know you need extra sales staff to grow your manufacturing or engineering business this is where we can help. We provide marketing and sales support to your business, which can free up internal resources in these areas, allowing you to focus on the delivery of your products and services.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-5-4">Is it possible to work with our current sales and marketing team?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-6-4">Absolutely. We work collaboratively with your existing team to provide additional support and expertise to your business, giving you a competitive edge. This approach gives us a better understanding of your customers which maximises the effectiveness and success of all marketing efforts for growth. Depending on your unique business need, our team can also take on your entire sales and marketing capability.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-7-4">How long does it take to see results?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-8-4">The timeline for seeing results can vary depending on the chosen service, solution, and goals of your business. Some strategies and solutions may produce quick measurable results, while others may take longer to show results. For instance, one way of measuring the effectiveness of social media marketing is by the number of inquiries or leads, and these results can be seen quickly.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-9-4">How do we measure the success of marketing efforts?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-10-4">Measuring the success of your marketing and sales efforts is done through a variety of metrics, such as website traffic, number of leads generated, sales revenue, and customer satisfaction. We work collaboratively with you to set clear goals and metrics to grow your business, providing you with regular reports, and analysis to track progress and identify areas for improvement.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-11-4">How easy is it to terminate your services once a contract has been signed?
            </h2>
            <p class="text-lg text-black" data-config-id="auto-txt-12-4">We don’t believe in stiff sticky long-term contracts because we believe in mutually beneficial relationships. Our prime focus is delivering results so that we keep you as a client. You can opt out of the contract agreement at the end of the month if you feel the strategy is not achieving the desired objectives.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-13-4">Is Outsourcing Sales expensive?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-14-4">Our pricing model is customised to each client based on the specific services needed and the scope of the project. We work with our clients to create a transparent and flexible pricing structure that fits their budget and business goals. If we don’t believe we can generate you extra profit based on the pricing, then we would not proceed.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <div class="md:max-w-xl">
            <h2 class="mb-4 font-heading font-medium text-2xl text-gray-900" data-config-id="auto-txt-13-4">How do you ensure that your marketing strategies align with our company's goals?</h2>
            <p class="text-lg text-black" data-config-id="auto-txt-14-4">We conduct thorough research and analysis to understand your business, target audience, and competitors. Based on this, we develop customized marketing and sales strategies that align with your specific business goals and objectives. Our agency is committed to working collaboratively with you, to deliver customized solutions that are tailored to your unique needs and objectives.</p>
          </div>
        </div>
      </div>
      <a class="group block max-w-max mx-auto font-heading font-medium text-amber-600 hover:text-amber-500 text-2xl overflow-hidden" href="/contact">
        <p class="" data-config-id="auto-txt-15-4">Didn’t find the answer? Contact us here</p>
        <div class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500"></div>
      </a>
    </div>
  </section>