<section class="pt-24 pb-32 bg-white overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="max-w-md mx-auto mb-20">
      <h4 id="faq"
        class="relative text-center mb-4 text-slate-800 xl:mb-20 text-3xl md:text-5xl xl:text-5xl pt-20 leading-tight font-poppins tracking-tight"
        data-config-id="auto-txt-1-4">Got<span style="color: #FE590F;" class="font-semibold"> Questions?</span> </h4>
      <p class="text-2xl text-gray-600 text-center" data-config-id="auto-txt-2-4">We may not be suitable for everyone.
        Here are some answers to common questions to help you decide if our service is right for you.</p>
    </div>
    <div class="flex flex-wrap -m-6 mb-24">
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-3-4">Can I split the costs and make payment in instalments?
          </h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-4-4">Certainly! We can help you arrange a payment plan
            through our approved finance company. However, please note that we do have our standard payment terms in
            place.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-5-4">Will the machinery meet my specific needs? Can you provide examples of fields
            where it is commonly used?</h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-6-4">Absolutely! To better understand your
            requirements, we will send you a client information request form. Once we have gathered all the necessary
            details, we will be able to make tailored recommendations based on your specific needs. Our machinery has
            been successfully employed in various fields, such as the bakery sector, fruits and vegetables, meat and
            fish, and low-fat products.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-7-4">Will I receive assistance with the assembly process?
          </h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-8-4">No, our machine is delivered fully assembled and
            ready to use. However, we do offer additional services, such as training and a commissioning package, which
            can be arranged at an extra cost.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-9-4">Will this product help me increase my production?
          </h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-10-4">Absolutely! Our machine is designed to enhance
            production efficiency. By replacing manual operations, it enables faster and more cost-effective results.
            Many of our clients have experienced significant improvements in their production processes.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-11-4">Can I customise the products to suit my specific requirements?

          </h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-12-4">Yes, in some cases. The possibility of
            customisation will depend on the specific changes you need. Once you discuss your customisation needs with
            our engineering department, we can evaluate the feasibility of implementing the required modifications.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-xl">
          <h4 class="mb-4 font-heading font-medium text-xl md:text-2xl xl:text-3xl font-semibold text-gray-900"
            data-config-id="auto-txt-13-4">What type of warranty do you offer for your products?
          </h4>
          <p class="text-2xl text-black" data-config-id="auto-txt-14-4">We provide a standard 1-year warranty for all
            our machinery. Additionally, since we manufacture our own replacements for the machine, we can also
            recommend a basic spares package to accompany your purchase.
          </p>
        </div>
      </div>
    </div>
    <a class="group block max-w-max mx-auto font-heading font-medium text-2xl overflow-hidden" href="/contact">
      <p class="" data-config-id="auto-txt-15-4" style="color: #FE590F;">Didn’t find the answer? Contact us here</p>
      <div
        class="w-full transform -translate-x-0 group-hover:translate-x-full h-px bg-gradient-cyan transition ease-in-out duration-500">
      </div>
    </a>
  </div>
</section>