
{{ $alpine := resources.Get "js/alpine.js" | js.Build }}
<script src="{{ $alpine.RelPermalink }}"></script>

{{ $darkmode := resources.Get "js/darkmode.js" | js.Build }}
<script src="{{ $darkmode.RelPermalink }}"></script>

{{ $jquery := resources.Get "js/jquery.min.js" }}
<script src="{{ $jquery.RelPermalink }}"></script>

{{ $jarallax := resources.Get "js/jarallax.js" | js.Build }}
<script src="{{ $jarallax.RelPermalink }}"></script>

{{ $lightbox := resources.Get "js/glightbox.js" | js.Build }}
<script src="{{ $lightbox.RelPermalink }}"></script>

{{ $fuse := resources.Get "js/fuse.min.js" }}
<script src="{{ $fuse.RelPermalink }}"></script>

{{ $search := resources.Get "js/search.js" }}
<script src="{{ $search.RelPermalink }}"></script>

{{ $mark := resources.Get "js/mark.js" }}
<script src="{{ $mark.RelPermalink }}"></script>

<script>
    var lightBoxHero = GLightbox({
        selector: '.glightbox-hero'
    });

    lightBoxHero.on('open', (target) => {
        console.log('lightbox opened');
    });

    lightBoxHero.on('slide_changed', ({ prev, current }) => {
        console.log('Prev slide', prev);
        console.log('Current slide', current);

        const { slideIndex, slideNode, slideConfig, player } = current;

        if (player) {
            if (!player.ready) {
                // If player is not ready
                player.on('ready', (event) => {
                    // Do something when video is ready
                });
            }

            player.on('play', (event) => {
                console.log('Started play');
            });

            player.on('volumechange', (event) => {
                console.log('Volume change');
            });

            player.on('ended', (event) => {
                console.log('Video ended');
            });
        }
    });

    var lightBoxTestimonial = GLightbox({
        selector: '.glightbox-testimonial'
    });
</script>

<script>
    jarallax(document.querySelectorAll('.jarallax'), {
  speed: 0.2,
});
</script>