{{ $bgimage := (resources.Get "images/bg_hero.png").RelPermalink }}
<div
    class="relative items-center justify-center w-full overflow-x-hidden lg:pt-12 xl:pt-12 lg:pb-24 xl:pb-24 overflow-hidden">
    <div
        class="container pt-12 flex flex-col items-center justify-start h-full max-w-6xl px-8 mx-auto lg:pt-0 xl:pt-0 -mt-32 lg:flex-row xl:px-0">
        <div
            class="z-30 flex flex-col items-center w-full max-w-xl mt-24 text-center lg:items-start lg:w-3/4 lg:mt-6 xl:mt-6 lg:text-left">
            <h1
                class="relative mb-4 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-5xl md:text-6xl lg:text-6xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
                Welcome to <span style="color: #FE590F;">Saturn Spraying Systems</span>
            </h1>
            <p class="pr-0 mb-8 text-dark drop-shadow-lg sm:text-1xl xl:text-2xl lg:pr-20">
                Saturn Spraying is a major supplier of Spraying Technology for the Food Production Industry worldwide,
                and has over the last 30 years supplied clients throughout the world, with our food production
                equipment.
            </p>

            <div class="flex flex-wrap -m-2.5 mb-12">
                <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                        <a class="py-4 px-6 w-full inline-flex justify-center items-center my-auto md:text-xl text-base text-white font-semibold rounded-xl border border-white transition ease-in-out duration-200"
                            style="background-color: #FE590F" href="/book-consultation">
                            <span class="text-center">Book Your Free Consultation</span>
                        </a>
                    </div>
                </div>
                <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                        <a class="py-4 px-6 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-white font-semibold border rounded-lg transition ease-in-out duration-200 hover:scale-125"
                            style="color: #FE590F; border-color: #FE590F;"
                            href="https://www.youtube.com/embed/Njtm6nyvTDA">
                            <span>Watch Video</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative flex flex-col items-end justify-center w-full h-full lg:w-1/2 ms:pl-10">
            <div class="relative left-0 w-full max-w-4xl  lg:absolute xl:max-w-6xl lg:w-screen pb-16 ">
                {{ with resources.Get "images/DiscMatic™.png" }}
                <img src="{{ .RelPermalink }}"
                    class="w-full h-auto mt-20 mb-20 ml-0 lg:w-1/2 lg:mt-24 xl:mt-40 lg:mb-0 lg:h-full lg:-ml-12 max-w-none">
                {{ end }}
            </div>
            <div class="absolute bottom-2/4 translate-y-2/4 right-0 left-0 text-center">
                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                    class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-sky-500 dark:text-white">
                    <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                </a>

                <a href="https://fast.wistia.net/embed/iframe/xhtlalrxvu" class="glightbox-hero">
                    <svg class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 cursor-pointer text-sky-500 hover:text-sky-600"
                        width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                        data-config-id="auto-svg-3-2">
                        <circle cx="32" cy="32" r="32" fill="#FE590F"></circle>
                        <path class="text-white"
                            d="M40.5 31.13L26.5 23.05C26.348 22.9622 26.1755 22.916 26 22.916C25.8245 22.916 25.652 22.9622 25.5 23.05C25.3474 23.1381 25.2208 23.265 25.133 23.4177C25.0452 23.5705 24.9993 23.7438 25 23.92V40.08C24.9993 40.2562 25.0452 40.4295 25.133 40.5822C25.2208 40.735 25.3474 40.8619 25.5 40.95C25.652 41.0378 25.8245 41.084 26 41.084C26.1755 41.084 26.348 41.0378 26.5 40.95L40.5 32.87C40.6539 32.7828 40.7819 32.6563 40.871 32.5035C40.96 32.3506 41.007 32.1769 41.007 32C41.007 31.8231 40.96 31.6494 40.871 31.4965C40.7819 31.3437 40.6539 31.2172 40.5 31.13ZM27 38.35V25.65L38 32L27 38.35Z"
                            fill="#ffffff">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>