<section>
    <div class="bg-grey-50 max-w-5xl mx-auto">
        <div class="px-2 sm:container py-16 md:py-20 mx-auto">
            <div class="flex justify-center">
                <div class="mb-8">
                    <span
                        class="inline-flex rounded-xl justify-between items-center py-1 px-4 mb-7 text-sm bg-neutral font-medium text-secondary">Blogs & Articles</span>
                </div>
            </div>
            <div class="flex justify-center">
                <h2
                class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl leading-none text-heading tracking-tighter">
                Some of our articles </h2>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-12 w-full">
                {{ range ( first 3 ( where .Paginator.Pages "Type" "blog" ) ) }}
                <div class="">
                    <a href="{{.RelPermalink}}">
                        {{ $featured := .Params.featuredImage }}
                        {{ with .Resources.GetMatch $featured }}
                        {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                        <img src="{{ $postimage }}" class="w-full h-64 rounded-2xl" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                        <div class="py-6 xl:py-8">
                            <h4 class="block font-body text-lg font-semibold text-blue-600 hover:text-blue-800">
                                {{.Title}}</h4>
                            <p class="block pt-2 text-body">{{ .Summary | truncate 100 }}</p>

                        </div>
                        <div class="pt-2 pb-4">
                            <a href="{{ .RelPermalink }}" class="text-blue-600 hover:text-blue-800 font-semibold">Learn more →</a>
                        </div>
                    </a>
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</section>