<section>
    <div class="bg-grey-50 max-w-5xl mx-auto">
        <div class="px-2 sm:container py-16 md:py-20 mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 items-end gap-6">
                <div class="">
                    <h2
                        class="font-medium text-xl sm:text-2xl md:text-3xl lg:text-4xl leading-none text-heading tracking-tighter">
                        Latest from our
                        blog</h2>
                </div>
                <div class="md:text-end">
                    <a href="/blog"
                        class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-primary hover:text-primaryHover">View
                        all posts</a>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-12">
                {{ range ( first 2 ( where .Paginator.Pages "Type" "blog" ) ) }}
                <div class="shadow border">
                    <a href="{{.RelPermalink}}">
                        {{ $featured := .Params.featuredImage }}
                        {{ with .Resources.GetMatch $featured }}
                        {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                        <img src="{{ $postimage }}" class="w-full" alt="{{ .Params.description }}"
                            title="{{ .Params.description }}" />
                        {{ end }}
                        <div class="py-6 px-5 xl:py-8">
                            <h4 class="block font-body text-lg font-semibold text-heading hover:text-primaryHover">
                                {{.Title}}</h4>
                            <p class="block pt-2 text-body">{{ .Summary | truncate 200 }}</p>

                        </div>
                        <div class="pt-2 pb-4 px-5">
                            <a href="{{ .RelPermalink }}" class="uppercase text-primary hover:text-primaryHover">Read
                                More
                                <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </a>
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</section>