<title>{{ if .IsHome }} Home | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<link rel="canonical" href="{{ .Permalink }}" />
<meta name="description"
    content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta itemprop="name" content="{{ .Title }} - {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} - {{ .Site.Title }}" />

{{ template "_internal/schema.html" }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
