<!-- Second Section section -->
<div class="relative my-4">
  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">

    <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
      <!-- Content area -->
      <div class="md:pt-12 sm:pt-6 lg:pt-20">
        <h2 class="text-3xl font-medium text-black sm:text-4xl">
          Specialists in Food Spraying Technology</h2>
        <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
          <p class="text-lg leading-7">The majority of spraying applications for foodstuffs occurs in the Bakery Sector
            and within that arena Saturn Spraying, with our spinning disc technology, is considered to be the benchmark
            in quality spraying. Saturn works in a number of food related markets, which are shown in the pictures
            below. Please scroll through the pictures and 'click' on the picture relating to the business area you are
            interested in. You will be taken to our in-depth webpages. Alternatively you can freely navigate throughout
            the whole website using the dropdown menu bar above.
            If you wish to contact us now, then go straight to Contact.
          </p>
        </div>
      </div>
      <!-- Content area End -->
    </div>
    <div class="relative sm:py-8 lg:py-0">
      <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <div class="relative overflow-hidden rounded-2xl">
          {{ $missionimage := resources.Get "images/factory-worker.png" }}
          {{ with $missionimage }}
          {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
            class="object-cover w-full h-full grayscale hover:contrast-125 rounded-full shadow-lg border-b-stone-200" alt="Our Mission - Outsource Sales" loading="lazy" />
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Request a quote Section Starting -->

<section>
  <div class="font-sans antialiased bg-grey-lightest">
    <!-- Top Nav -->
    <!-- Content -->
    <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
      <div class="container mx-auto py-8">
        <div class="w-5/6 lg:w-1/2 mx-auto shadow-xl  bg-white rounded shadow"
          style="background-color: #FBF6F4; border-radius: 15px;">
          <h3 class="py-4 px-8 border-b border-grey-lighter text-3xl font-medium text-black sm:text-4xl mukta-font">Get
            A Quick <span style="color:#FE590F">Quote</span></h3>
          <div class="py-4 px-8">
            <div class="flex mb-4">
              <div class="w-1/2 mr-1">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">First Name</label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="first_name"
                  type="text" placeholder="Your first name" style="background-color: #FFFFFF; border-radius: 15px;">
              </div>
              <div class="w-1/2 -ml-12">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Last Name</label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="last_name"
                  type="text" placeholder="Your last name" style="background-color: #FFFFFF; border-radius: 15px;">
              </div>
            </div>
            <div class="flex mb-4">
              <div class="w-1/2 mr-1">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="email"
                  placeholder="Your email address" style="background-color: #FFFFFF; border-radius: 15px;">
              </div>
              <div class="w-1/2 -ml-12">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="telephone">Telephone</label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="telephone"
                  type="text" placeholder="Your telephone number"
                  style="background-color: #FFFFFF; border-radius: 15px;">
              </div>
            </div>
            <div class="mb-4">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="dropdown">Select System</label>
              <select class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="dropdown">
                <option value="DiscNomic™ SPRAYING SYSTEM">DiscNomic™ SPRAYING SYSTEM</option>
                <option value="DiscMaster™ SPRAYING SYSTEM">DiscMaster™ SPRAYING SYSTEM</option>
                <option value="DiscMatic™ SPRAYING SYSTEM">DiscMatic™ SPRAYING SYSTEM</option>
                <option value="PortaDisc™">PortaDisc™</option>
                <option value="Sprinkler">Sprinkler</option>
                <option value="Custom Machine">Custom Machine</option>
              </select>
            </div>
            <div class="mb-4">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="message">Message</label>
              <textarea class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="message"
                placeholder="Your message"></textarea>
            </div>
            <div class="flex justify-center mt-4">
              <button class="bg-orange hover:bg-orange-dark text-white font-bold py-2 px-4 rounded"
                style="background-color: #FE590F; border-radius: 5px;">
                Get A Quick Quote
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer -->
  </div>
</section>

<!-- Request a quote Ending -->

<!-- Third Section Starting -->

<section class="pt-48">
  {{ $bgimage := (resources.Get "images/bg-orange.png").RelPermalink }}
  <div class="relative items-center justify-center w-full overflow-x-hidden lg:pt-12 xl:pt-12 lg:pb-20 xl:pb-20"
  style="background-image:url('{{$bgimage}}');  background-position:
  center; background-repeat: no-repeat; background-size: cover; z-index: 0; overflow: visible;">
  <div
    class="container flex flex-col items-center justify-between h-full max-w-6xl px-8 mx-auto -mt-32 lg:flex-row xl:px-0">
    <div
      class="z-30 flex flex-col items-center w-full max-w-xl pt-0 text-center lg:items-start lg:w-3/4 lg:pt-0 xl:pt-0 lg:text-left">
      <h4
        class="relative pt-6 mb-4 text-grey-darker text-slate-800 xl:mb-8 text-3xl md:text-3xl lg:text-3xl pt-0 leading-tight font-semibold font-poppins tracking-tight">
        Saturn’s spraying main products are</h4>
      <div class=" space-y-6 text-gray-900 dark:text-white">
        <p class="text-lg leading-7">Saturn Spraying is a major supplier of Spraying Technology for the Food Production
          Industry worldwide, and has over the last 30 years supplied clients throughout the world, with our food
          production equipment.
          The majority of spraying applications for foodstuffs occurs in the Bakery Sector and within that arena Saturn
          Spraying, with our spinning disc technology, is considered to be the benchmark in quality spraying. Saturn
          works in a number of food related markets, which are shown in the pictures below. Please scroll through the
          pictures and 'click' on the picture relating to the business area you are interested in. You will be taken to
          our in-depth webpages. Alternatively you can freely navigate throughout the whole website using the dropdown
          menu bar above.
          If you wish to contact us now, then go straight to Contact.
        </p>
      </div>
    </div>
    <div class="relative items-center sm:py-8 lg:py-0" style="z-index: 2;">
      <div class="relative w-3/6 h-full px-4 py-6 mx-auto sm:max-full sm:pt-12 lg:max-w-none lg:px-0 lg:py-20">
          {{ with resources.Get "images/DiscMatic™.png" }}
              <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto" style="max-height: 100%; width: auto;">
          {{ end }}
      </div>
  </div>
  </div>
</div>

</section>





<!-- Third section Ending -->