<!-- Testimonial/stats section -->
<div class="relative my-4">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
        <div class="relative sm:py-8 lg:py-0">
            <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                <div
                    class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72">
                </div>
                <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392"
                    fill="none" viewBox="0 0 404 392" loading="lazy">
                    <defs>
                        <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                </svg>
            </div>
            <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                <!-- Testimonial card-->
                <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                    {{ $missionimage := resources.Get "images/sales-person.jpg" }}
                    {{ with $missionimage }}
                    {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                        class="absolute inset-0 object-cover w-full h-full" alt="TailBliss - Our Mission"
                        loading="lazy" />
                    {{ end }}>
                    {{ end }}
                    <!-- <div class="absolute inset-x-0 end-0 h-1/2 bg-sky-300 mix-blend-multiply"></div>
                    <div class="absolute inset-x-0 end-0 h-1/2  bg-gradient-to-t from-sky-600 to-sky-800 opacity-80"></div> -->
                    <div class="relative px-8">
                        <div>
                            <img class="h-12" src="images/tailbliss-white.svg" alt="Workcation">
                        </div>
                        <blockquote class="mt-8">
                            <div class="relative text-lg font-medium text-white md:flex-grow">
                                <svg class="absolute top-0 left-0 w-8 h-8 transform -translate-x-3 -translate-y-2 text-indigo-400/30"
                                    fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                    <path
                                        d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                </svg>
                                <p class="relative">Engineers create great products by focusing on innovation. Everything else can be outsourced
                                </p>
                            </div>

                            <footer class="mt-4">
                                <p class="text-base font-semibold text-gray-200">
                                    Andre Barrett, Founder of Outsourced Sales
                                </p>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
            <!-- Content area -->
            <div class="md:pt-12 sm:pt-6 lg:pt-20">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-4xl">
                    Our mission</h2>
                <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                    <p class="text-lg leading-7">Our mission is to free manufacturing and engineering companies of the
                        headache of having to market and sell their products and services. By providing an outsourced
                        sales solution we give companies back their time to focus on ‘real work’.

                    </p>
                    <p class="text-lg leading-7">Every company wants to ensure their valuable products and services are
                        sold. But having run a manufacturing and engineering business ourselves we know how difficult
                        that can be. The tremendous time and effort that you need to put in just to make a single sale
                        can be overwhelming. We decided to do something about it.
                    </p>
                    <p class="text-lg leading-7">
                        Just like any manufacturing or
                        engineering process we looked at how our sales pipeline could be optimised and automated.
                        Through multiple iterations, we found the best approach to get maximum sales results for the
                        least amount of resources spent.
                    </p>
                    <p class="text-lg leading-7">We now deliver the same optimised sales process to your
                        business. Partner with us and we will put your sales on autopilot!
                    </p>

                </div>
            </div>
        </div>

    </div>

</div>


<section>
    <div class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <div>
        <div class="max-w-2xl">
          <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
            We have grown the sales of other manufacturing and engineering companies including our own.
          </p>
          <p class="max-w-2xl mt-4 text-lg tracking-tight text-gray-600">
            We know how difficult it is to grow sales when you have very little time. With Outsourced Sales, your sales growth becomes independent of the time you have. Now you can spend time doing whatever you want.
          </p>
        </div>
      </div>
      <div class="w-full mx-auto mt-12 text-left">
        <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
          <div class="mx-auto lg:max-w-7xl">
            <ul role="list" class="grid grid-cols-2 gap-4 list-none md:grid-cols-3 lg:gap-12">
              <li>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Sleep soundly knowing that without lifting a finger your products and services will be sold.                  </p>
              </li>
              <li>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Remove the hassle of training sales staff or managing extra people.
                  </p>     
              </li>
              <li>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Get paid what you deserve without having to haggle on price or discount to compete.
                </p>
              </li>
              <li>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Grow your business without having to know about the latest marketing and sales tactics.
                </p>
              </li>
  
              <li>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Focus on the work that you enjoy the most so that you can deliver the greatest amount of value. 
                  </p>
    
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
