<!-- Second Section section -->
<div class="relative my-4 mb-20">
  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8 items-center">

    <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
      <!-- Content area -->
      <div class="md:pt-12 sm:pt-6 lg:pt-20">
        <h2 class="relative mb-4 text-dark drop-shadow-lg text-slate-800 xl:mb-8 text-4xl md:text-6xl lg:text-6xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
          Specialists in <span style="color:#FE590F">Food Spraying Technology</span></h2>
        <div class="mt-6 space-y-6">
          <p class="text-2xl leading-tight">Saturn Spraying is a leading provider of innovative food technology solutions. With expertise in atomized spraying, they offer precise and controlled sprays to enhance food preservation, flavour, and quality. Their spraying techniques optimize coverage and reduce waste, benefiting a wide range of food products, from fruits and vegetables to dairy and bakery items.
            Saturn Spraying specializes in food preservation, extending shelf life with natural coatings and preservatives. They excel in flavour enhancement, delivering precise and enticing flavours and aromas to various food and beverage applications. Additionally, their spraying techniques enhance the appearance of food products, creating visually appealing coatings, glazes, and finishes.
          </p>
        </div>
      </div>
      <!-- Content area End -->
    </div>
    <div class="relative sm:py-8 lg:py-0">
      <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <div class="relative overflow-hidden rounded-2xl">
          {{ $missionimage := resources.Get "images/factory-worker.png" }}
          {{ with $missionimage }}
          {{ with .Resize (printf "%dx%d webp q50" .Width .Height) }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
            class="object-cover w-full h-full grayscale hover:contrast-125 rounded-full shadow-lg border-b-stone-200" alt="Our Mission - Outsource Sales" loading="lazy" />
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Request a quote Section Starting -->



<!-- Request a quote Ending -->

<!-- Third Section Starting -->

<section class="pt-2">
  {{ $bgimage := (resources.Get "images/bg-orange.png").RelPermalink }}
  <div class="relative items-center justify-center w-full overflow-x-hidden lg:pt-12 xl:pt-12 lg:pb-20 xl:pb-20"
  style="background-color: #FE590F;">
  <div
    class="container mt-5 flex flex-col items-center justify-between h-full max-w-6xl px-8 mx-auto -mt-32 lg:flex-row xl:px-0" >
    <div
      class="z-30 flex flex-col items-center w-full max-w-xl pt-0 text-center lg:items-start lg:w-3/4 lg:pt-0 xl:pt-0 lg:text-left">
      <h4
        class="relative  mb-6 p-5 text-white xl:mb-8 text-3xl md:text-3xl lg:text-3xl pt-0 leading-tight font-semibold font-poppins tracking-tight">
        Saturn’s spraying main products are</h4>
      <div class=" space-y-6 text-white dark:text-white">
        <p class="text-lg leading-7 text-white-600 text-2xl">Saturn Spraying is a major supplier of Spraying Technology for the Food Production
          Industry worldwide, and has over the last 30 years supplied clients throughout the world, with our food
          production equipment.
          The majority of spraying applications for foodstuffs occurs in the Bakery Sector and within that arena Saturn
          Spraying, with our spinning disc technology, is considered to be the benchmark in quality spraying. Saturn
          works in a number of food related markets, which are shown in the pictures below. Please scroll through the
          pictures and 'click' on the picture relating to the business area you are interested in. You will be taken to
          our in-depth webpages. Alternatively you can freely navigate throughout the whole website using the dropdown
          menu bar above.
          If you wish to contact us now, then go straight to Contact.
        </p>
        <div class="mx-auto">
          <div class="flex justify-start mt-4">
            <a href="/book-consultation">
              <button class="bg-orange hover:bg-orange-dark text-white font-bold py-2 px-4 rounded"
              style="background-color: #ffffff; border-radius: 5px; color: #FE590F;">
              Book a call now
            </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="relative items-center sm:py-8 lg:py-0" style="z-index: 2;">
      <div class="relative w-3/6 h-full px-4 py-6 mx-auto sm:max-full sm:pt-12 lg:max-w-none lg:px-0 lg:py-20">
          {{ with resources.Get "images/DiscMatic™.png" }}
              <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto" style="max-height: 100%; width: auto;">
          {{ end }}
      </div>
  </div>
  </div>
</div>

</section>





<!-- Third section Ending -->