<div class="top-0 z-50 w-full text-dark bg-gray-100 md:sticky">
    <nav
        class="bg-white dark:bg-gray-900 fixed w-full z-50 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2" x-data="{ isOpen: false }">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/sign-makers-new.svg" class="h-8"
                    alt="Business Signs, Sign Design, Manufacturing and Installation - The Sign Makers">
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <a href="/contact">
                    <button type="button"
                        class="px-4 py-2 mt-2 text-lg text-white font-medium bg-primary rounded-lg md:mt-0 md:ml-1 hover:bg-red-700 hover:text-whiet focus:text-primary">Contact
                        Us</button>
                </a>
                <button @click="isOpen = !isOpen" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div :class="{ 'hidden': !isOpen }" class="items-center justify-between w-full md:flex md:w-auto md:order-1"
                id="navbar-sticky">
                <ul
                    class="text-secondary flex flex-col justify-center p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a class="py-2 mt-2 text-lg hover:text-primary rounded-lg md:mt-0 md:ml-1"
                            href="https://shop.thesignmakers.com" target="_blank">Buy Signs Online</a>
                    </li>
                    <li>
                        <a class="py-2 mt-2 text-lg hover:text-primary rounded-lg md:mt-0 md:ml-1"
                            href="/about/">About</a>
                    </li>
                    <li>
                        <a class="py-2 mt-2 text-lg hover:text-primary rounded-lg md:mt-0 md:ml-1"
                            href="/services/">Services</a>
                    </li>
                    <li>
                        <a class="py-2 mt-2 text-lg hover:text-primary rounded-lg md:mt-0 md:ml-1"
                            href="/portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a class="py-2 mt-2 text-lg hover:text-primary rounded-lg md:mt-0 md:ml-1"
                            href="/blog/">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>