<style>
  .logo-container {
            margin-right: 16px; /* Adjust the spacing as per your preference */
            padding: 0.7em;
        }
        .logo-container img {
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        .logo-container img:hover {
            filter: none;
        }
</style>
<section>
  <div class="container mx-auto my-auto">
      <div class="row flex justify-center">
          <h2 class="text-8xl md:text-4xl font-bold mb-12 mt-12 text-center">Our <span style="color:#FE590F">Proud Agents</span></h2>
      </div>
      <div class="flex flex-wrap justify-center items-center">
          {{ range (where .Site.RegularPages "Section" "agents") }}
              <div class="logo-container">
                  <a href="{{ .Permalink }}">
                      {{ $logo := .Resources.GetMatch "images/*.{png,jpg,gif}" }}
                      {{ with $logo }}
                          {{ with .Resize "250x100" }}
                              <img src="{{ .RelPermalink }}" class="h-16 md:h-24" alt="">
                          {{ end }}
                      {{ end }}
                  </a>
              </div>
          {{ end }}
      </div>
  </div>
</section>