<section class="px-4 py-24 mx-auto max-w-7xl">
    <h3 class="mb-3 text-3xl font-semibold leading-tight text-center text-gray-900 md:text-4xl">We work with multiple
        agents
        across the globe</h3>
    <p class="mb-16 text-xl text-center text-gray-600">These agents are in your local country and help us ship our
        products to you</p>
    <div class="grid grid-cols-2 gap-16 mb-16 text-center lg:grid-cols-6">
        {{ range (where .Site.RegularPages "Section" "agents") }}
        <div class="flex items-center justify-center">
            {{ $logo := .Resources.GetMatch "images/*.{png,jpg,gif}" }}
            {{ with $logo }}
            <img src="{{ .RelPermalink }}" alt="Metal Workers Agent" class="block object-contain h-16" />
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="text-center">
        <a href="/contact#worldwide-agents"
            class="px-5 py-3 text-xl text-center font-medium text-white bg-secondary border border-sky-700 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
            Find An Agent Located In Your Country
        </a>
    </div>
</section>