

<div class="container mx-auto">
    <div class="max-w-7x mx-auto mb-12">
        <h2
            class="relative mb-4 drop-shadow-lg text-center text-slate-800 xl:mb-8 text-5xl md:text-6xl lg:text-6xl pt-20 leading-tight font-semibold font-poppins tracking-tight">
            Saturn’s spraying <span style="color:#FE590F">main products</span>  are</h2>
        <p class="w-full text-2xl mb-5">At Saturn Spraying, we specialise in offering a 
            wide range of top-quality food spraying machines
            designed to meet the diverse requirements of 
            various industries and applications The majority of spraying applications for foodstuffs occurs in the Bakery Sector and within that arena Saturn Spraying, with our spinning disc technology, is considered to be the benchmark in quality spraying. Some of our products are:</p>
    </div>
    <div class="flex justify-center">

    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="col-span-1">
            <div class="relative p-6 table rounded-xl w-full pb-0 lg:pb-0 justify-center text-center  bg-gray-50 ">
                <div class="flex items-center flex-col lg:flex-row">
                    <div class="w-full">
                        <h2 class="text-2xl grow font-bold text-slate-800 text-left">DiscMatic™</h2>
                        <p class="text-sm text-left text-dark mb-6">The <b>DiscMatic™ </b> Spraying System has evolved to
                            become the mainstay of industrial food spraying around the world. The versatility of the
                            design allows for the integration of our bespoke spraying systems into the client's
                            production line without compromising the performance and quality of the spray.</p>
                        <a href="/products" class="transition ease-in-out duration-200 hover:underline">
                            <p  class="text-sm text-left text-gray mt-5 mb-6 font-bold tracking-tight"> READ MORE</p>
                        </a>
                        </div>
                    <div class="w-1/2">
                        <center>
                            {{ with resources.Get "images/DiscMatic™.png" }}
                            <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto">
                            {{ end }}
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-1">
            <div class="relative p-6 table rounded-xl w-full pb-0 lg:pb-0 justify-center text-center  bg-gray-50 ">
                <div class="flex items-center flex-col lg:flex-row">
                    <div class="w-full">
                        <h2 class="text-2xl grow font-bold text-slate-800 text-left">DiscNomic™</h2>
                        <p class="text-sm text-left text-dark mb-6">The <b>DiscNomic™</b> Spraying Machine is a single disc, ‘Top Only’ spraying machine designed directly for the small business establishment. The cost effective construction and outstanding professional performance provides (in this entry level system) operational precision and replicable results, previously unavailable.
                        </p>
                        <a href="/products" class="transition ease-in-out duration-200 hover:underline">
                            <p  class="text-sm text-left text-gray mt-5 mb-6 font-bold tracking-tight"> READ MORE</p>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
                        <center>
                            {{ with resources.Get "images/discNomic.png" }}
                            <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto">
                            {{ end }}
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-6">
        <div class="relative p-6 table rounded-xl w-full pb-0 lg:pb-0 justify-center text-center bg-gray-100 ">
          <div class="flex flex-col lg:flex-row items-center">
            <div class="w-full lg:w-1/2 lg:order-2">
              <center>
                {{ with resources.Get "images/DiscMaster2.png" }}
                <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-1/2 h-auto">
                {{ end }}
              </center>
            </div>
            <div class="w-full lg:w-1/2 lg:order-first lg:order-1">
              <h2 class="text-2xl font-bold text-slate-800 text-left">DiscMaster™</h2>
              <p class="text-sm text-left text-dark mb-6">The <b>DiscMaster™</b> series of Spraying Machines have been designed as the versatile system of choice for small to medium scale businesses. It provides the important economies of scale and manufacturing flexibility that such operations demand. High operational uptime is achieved by the blockage-resistant spray delivery system, which, coupled with easy maintenance access, minimizes downtime and delivers a quick ROI for business managers.
              </p>
              <a href="/products" class="transition ease-in-out duration-200 hover:underline">
                <p class="text-sm text-left text-gray mt-5 mb-6 font-bold tracking-tight">READ MORE</p>
              </a>
            </div>
          </div>
        </div>
        </div>
      
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
        <div class="col-span-1">
            <div class="relative p-6 table rounded-xl w-full pb-0 lg:pb-0 justify-center text-center  bg-gray-50 ">
                <div class="flex items-center flex-col lg:flex-row">
                    <div class="w-full">
                        <h2 class="text-2xl grow font-bold text-slate-800 text-left">PortaDisc™</h2>
                        <p class="text-sm text-left text-dark mb-6"> The <b>Portadisc™ </b>System provides a ‘Top Only’ spray capability, in situations where space or an existing conveyor line precludes the use of either the mainstream DiscMaster™ or DiscMatic™ Spraying Systems. By using key design components from the DiscMatic™ System library, a highly flexible range of ‘Top Only’ spray systems offered under the title “PORTADISC” can be configured.

                        </p>
                        <a href="/products" class="transition ease-in-out duration-200 hover:underline">
                            <p  class="text-sm text-left text-gray mt-5 mb-6 font-bold tracking-tight"> READ MORE</p>
                        </a>
                        </div>
                    <div class="w-1/2">
                        <center>
                            {{ with resources.Get "images/portadisc-nobg.png" }}
                            <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto">
                            {{ end }}
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-1">
            <div class="relative p-6 table rounded-xl w-full pb-0 lg:pb-0 justify-center text-center  bg-gray-50 ">
                <div class="flex items-center flex-col lg:flex-row">
                    <div class="w-full">
                        <h2 class="text-2xl grow font-bold text-slate-800 text-left">Sprinkling Machine</h2>
                        <p class="text-sm text-left text-dark mb-6">The <b>DiscNomic™</b> Spraying Machine is a single disc, ‘Top Only’ spraying machine designed directly for the small business establishment. The cost effective construction and outstanding professional performance provides (in this entry level system) operational precision and replicable results, previously unavailable.
                        </p>
                        <a href="/products" class="transition ease-in-out duration-200 hover:underline">
                            <p  class="text-sm text-left text-gray mt-5 mb-6 font-bold tracking-tight"> READ MORE</p>
                        </a>
                    </div>
                    <div class="w-1/2 mt-4">
                        <center>
                            {{ with resources.Get "images/sprinkler-nobg.png" }}
                            <img src="{{ .RelPermalink }}" alt="DiscMatic™" loading="lazy" class="w-full h-auto">
                            {{ end }}
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 mb-12">
        <center>
            <a class="py-4 px-6 w-3/6 inline-flex items-center my-auto md:text-xl text-base text-white font-semibold border rounded-lg transition ease-in-out duration-200 hover:scale-125"
            style="color: #FE590F; border-color: #FE590F;" href="/products">
            <span>SEE ALL PRODUCTS</span>
            </a>
        </center>
    </div>
</div>