<div class="relative flex justify-center bg-slate-800">
    <div class="mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/2 px-4 mx-auto my-8 lg:my-20">
            <div class="mb-16 max-w-lg  bg-primary px-6 md:px-12 py-6 md:py-12 rounded-2xl">
                <h2 class="mb-5 mt-12 md:text-6xl font-medium leading-none text-white text-4xl">
                    Looking for a complete bespoke package?
                </h2>
                <p class="pr-5 mb-5 md:text-3xl text-stone-200 text-xl">
                    Fill in this form to receive our catalogue
                </p>
                <div class="flex items-center mt-0 md:mt-12 justify-center">
                    <div class="flex items-center mt-0 md:mt-12 justify-center">
                        <a href="/products"
                            class="inline-flex w-full text-xl md:text-4xl items-center justify-center h-20 p-6 mr-6 font-medium tracking-wide text-dark-900 transition duration-200 rounded shadow-md bg-white hover:bg-stone-50 focus:shadow-outline focus:outline-none">
                            Get Catalogue
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 px-4 mx-auto my-8 lg:my-20">
            <div class="mb-16 max-w-lg  bg-secondary px-6 md:px-12 py-6 md:py-12 rounded-2xl">
                <h2 class="mb-5 mt-12 md:text-6xl font-medium leading-none text-white text-4xl ">
                    Looking for a standardized sign solution?
                </h2>
                <p class="pr-5 mb-5 md:text-3xl text-stone-200 text-xl">
                    Visit our online store to see what you can get today.
                </p>
                <div class="flex items-center mt-0 md:mt-12 justify-center">
                    <div class="flex items-center mt-0 md:mt-12 justify-center">
                        <a href="/products"
                            class="inline-flex w-full text-xl md:text-4xl items-center justify-center h-20 p-6 mr-6 font-medium tracking-wide text-dark-900 transition duration-200 rounded shadow-md bg-white hover:bg-stone-50 focus:shadow-outline focus:outline-none">
                            Visit Shop
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>