<section class="relative md:py-24 py-16 md:pt-0 pt-0">
    <div class="container px-4 mx-auto py-10 md:py-18">
        <div class="flex flex-wrap xl:items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
                <h3 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-3xl">
                    See what some of our customers had to say...
                </h3>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 justify-center">

            <div class="relative z-1">
                <div class="grid grid-cols-1 justify-center">
                    <div class="relative z-20">
                        <div class="grid lg:grid-cols-12 grid-cols-1 ltr:md:text-left rtl:md:text-right text-center justify-center">
                            <div class="lg:col-start-3 lg:col-span-8">
                                <div class="relative">
                                    {{ $heroOne := resources.GetMatch "images/agency.jpg" }}

                                    {{ $tiny := ($heroOne.Fit "480x280 q80") }}
                                    {{ $small := ($heroOne.Fit "768x280 q80") }}
                                    {{ $medium := ($heroOne.Fit "1024x280 q80") }}
                                    {{ $large := ($heroOne.Fit "1374x1000 q80") }}


                                    {{ $agencyimage := resources.Get "images/agency.jpg" }}
                                    <a href="https://vimeo.com/131899708" class="glightbox-testimonial">

                                        <img srcset="
                            {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
                            {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
                            {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
                            {{- with $large.RelPermalink -}}, {{.}} 1374w{{- end -}}" src="{{ $heroOne.RelPermalink }}"
                                            class="rounded-md shadow-lg" alt="">
                                    </a>
                                    <div class="absolute bottom-2/4 translate-y-2/4 right-0 left-0 text-center">
                                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                                    class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-indigo-600 dark:text-white">
                                    <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                                </a>

                                        <a href="https://vimeo.com/131899708" class="glightbox-testimonial">

                                            <svg class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 cursor-pointer text-indigo-500 hover:text-indigo-600"
                                                width="64" height="64" viewBox="0 0 64 64" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
                                                <circle cx="32" cy="32" r="32" fill="currentColor"></circle>
                                                <path class="text-white"
                                                    d="M40.5 31.13L26.5 23.05C26.348 22.9622 26.1755 22.916 26 22.916C25.8245 22.916 25.652 22.9622 25.5 23.05C25.3474 23.1381 25.2208 23.265 25.133 23.4177C25.0452 23.5705 24.9993 23.7438 25 23.92V40.08C24.9993 40.2562 25.0452 40.4295 25.133 40.5822C25.2208 40.735 25.3474 40.8619 25.5 40.95C25.652 41.0378 25.8245 41.084 26 41.084C26.1755 41.084 26.348 41.0378 26.5 40.95L40.5 32.87C40.6539 32.7828 40.7819 32.6563 40.871 32.5035C40.96 32.3506 41.007 32.1769 41.007 32C41.007 31.8231 40.96 31.6494 40.871 31.4965C40.7819 31.3437 40.6539 31.2172 40.5 31.13ZM27 38.35V25.65L38 32L27 38.35Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content md:mt-8">
                            <div
                                class="grid lg:grid-cols-12 grid-cols-1 ltr:md:text-left rtl:md:text-right text-center justify-center">
                                <div class="lg:col-start-2 lg:col-span-10">
                                    <div class="grid md:grid-cols-2 grid-cols-1 items-center">
                                        <div class="mt-8">
                                            <div class="section-title text-md-start">
                                                <h6 class="text-white/50 text-lg font-semibold">Outsourced Sales Agency</h6>
                                                <h3
                                                    class="md:text-3xl text-2xl md:leading-normal leading-normal font-semibold text-white mt-2">
                                                    We are a full-service <br> digital company</h3>
                                            </div>
                                        </div>

                                        <div class="mt-8">
                                            <div class="section-title text-md-start">
                                                <p class="text-white/50 max-w-xl mx-auto mb-2">Start working with
                                                    Outsourced Sales
                                                    that can provide everything you need to generate awareness, drive
                                                    traffic, connect.</p>
                                                <a href="" class="text-white">Read More <i
                                                        class="uil uil-angle-right-b align-middle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute z-10 bottom-0 left-0 right-0 sm:h-2/3 h-4/5 bg-gradient-to-b from-gray-900 to-gray-900">
    </div>
</section>


