<section class="bg-white">
    <div class="text-xl text-gray-800 container mt-24 px-6 py-20 mx-auto">


        <div class="flex flex-col md:flex-row gap-8">

            <div class="basis-full md:basis-1/3">
                {{ $salespipeline := resources.Get "images/sales-pipeline.jpg"}}
                <img class="w-full object-cover" src="{{ $salespipeline.RelPermalink }}">
                <p class="mb-12 text-center">
                    A typical sales pipeline
                </p>
            </div>

            <div class="basis-full md:basis-2/3">
                <div class="flex justify-center">
                    <div class="max-w-[700px]">
                        <h2 class="text-center text-4xl font-medium text-black mb-6">Why Outsource Your Sales?</h2>
                        <p class="mb-3">
                            In order to make sales, a typical company has to generate leads, nurture those leads to
                            convert
                            them
                            into potential customers and then convert them into sales.
                        </p>
                        <p class="mb-12">
                            This process often involves:
                        </p>
                    </div>
                </div>

                <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-x-6 xl:gap-x-12">
                    <div class="mb-12">
                        <div class="flex">
                            <div class="shrink-0 mt-1">
                                <svg fill="#000000" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Relentless marketing efforts</p>
                                <p class="text-gray-500">Marketing may include social media, emails, blogging and
                                    advertising to generate leads</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-12">
                        <div class="flex">
                            <div class="shrink-0 mt-1">
                                <svg fill="#000000" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Tracking and measuring</p>
                                <p class="text-gray-500">What gets measured gets improved. That's why you need to
                                    track
                                    every part of your marketing and sales pipeline to optimise marketing spend and
                                    increase
                                    conversions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-12">
                        <div class="flex">
                            <div class="shrink-0 mt-1">
                                <svg fill="#000000" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Building relationships</p>
                                <p class="text-gray-500">You neeed to spend time with potential customers to improve
                                    their understanding of your product or services</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-12">
                        <div class="flex">
                            <div class="shrink-0 mt-1">
                                <svg fill="#000000" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Price negotiation</p>
                                <p class="text-gray-500">You will need to work with prospects to enhance their
                                    appreciation of your product or service so that you can charge more</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-12">
                        <div class="flex">
                            <div class="shrink-0 mt-1">
                                <svg fill="#000000" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Managing customer expectations</p>
                                <p class="text-gray-500">Prospects want to trust that you can deliver. You will need
                                    to keep them updated to ensure they stay happy throughout the sales process</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="flex justify-center">
                    <div class="max-w-[700px]">
                        <p class="mb-12">
                            We have found that small-medium sized businesses simply can’t compete in the marketplace
                            if they are expected to know and do everything involved in the sales cycle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-20 relative bg-white">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[90px] items-center">
            <div class="relative space-y-4 md:space-y-0">
                <div>
                    {{ with resources.Get "images/help.jpg" }}
                    {{ $small := (.Resize "550x webp q100").RelPermalink }}
                    {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                    {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                    {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                    <img src="{{ $together}}" srcset="
                    {{- with $small -}}, {{.}} 768w{{- end -}}
                    {{- with $medium -}}, {{.}} 1024w{{- end -}}
                    {{- with $large -}}, {{.}} 1374w{{- end -}}" class="mx-auto" alt="">
                    {{ end }}
                </div>
                <div class="top-[120px] -left-10 md:absolute">
                    <div
                        class="flex gap-[17px] items-center pt-[25px] pr-[30px] pb-[21px] pl-[26px] bg-white dark:bg-semilight shadow-[25px_0px_65px_rgba(54,32,152,0.11)] rounded-lg">

<svg class="w-10 h-10" fill="#ff0000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	  viewBox="0 0 8 8" enable-background="new 0 0 8 8" xml:space="preserve">
<rect x="2.709" y="4.855" transform="matrix(0.7071 -0.7072 0.7072 0.7071 -2.3841 5.4202)" width="5.283" height="1.466"/>
<rect x="3.164" y="0.021" width="1.683" height="6.375"/>
<rect x="0.015" y="4.861" transform="matrix(-0.7073 -0.7069 0.7069 -0.7073 0.5815 11.4283)" width="5.284" height="1.465"/>
</svg>
                        <span class="name text-lg font-secondary leading-[1.3] font-medium">
                            Decrease<br>
                            Overhead
                        </span>
                    </div>
                </div>
                <div class="bottom-[70px] -right-[30px] md:absolute">
                    <div
                        class="flex gap-[17px] items-center pt-[25px] pr-[30px] pb-[21px] pl-[26px] bg-white dark:bg-semilight shadow-[25px_0px_65px_rgba(54,32,152,0.11)] rounded-lg">
                        <svg class="w-10 h-10" fill="#1cbe59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	  viewBox="0 0 8 8" enable-background="new 0 0 8 8" xml:space="preserve">
<rect x="0.016" y="1.68" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 6.2428 2.2389)" width="5.283" height="1.466"/>
<rect x="3.161" y="1.604" width="1.683" height="6.375"/>
<rect x="2.709" y="1.674" transform="matrix(0.7073 0.7069 -0.7069 0.7073 3.2674 -3.0786)" width="5.284" height="1.465"/>
</svg>
                        <span class="name text-lg font-secondary leading-[1.3] font-medium">
                            Boost<br>
                            ROI
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center md:text-left">
                <div class="mb-[25px]">
                    <h3 class="text-5xl leading-[1.25] wow fadeInUp" data-wow-duration="1s"
                        style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">That's where
                        Outsourced Sales comes in</h3>
                </div>
                <p class="mb-8 lg:text-xl">
                    We manage the whole process for you. Quite simply we put your sales on autopilot taking away the
                    hassle and worry about how to sell.
                </p>
                <p class="mb-8 lg:text-xl">
                    By leveraging our knowledge and expertise around marketing and sales, you end up with a done for
                    you service that improves your return on investment for your marketing and sales spend.
                </p>
            </div>
        </div>
    </div>
</section>

