<section class="bg-white">
    <div class="text-xl text-gray-800 container mt-12 px-6 py-20 mx-auto justify-center">
        <div class="flex justify-center">
            <h2
                class="relative text-3xl font-bold tracking-tight text-dark sm:text-4xl tracking-tight mb-12 md:mt-6 mt-0 pt-6 leading-tight font-poppins tracking-tight">
                <span class=" text-secondary">Sign Makers</span><span class="font-bold text-primary">
                    Services</span>
            </h2>

        </div>
        <div class="flex justify-center">
            <p class="text-grey-darker mb-8 text-2xl w-full md:w-4/5 lg:w-4/5">Welcome to Sign Maker, where
                innovation meets experience. With over 70 years of industry expertise, we offer a UK-wide service for
                both national accounts and individual projects. Our team of qualified graphic designers and experienced
                installers ensure seamless sign design, manufacture, and installation. We take pride in maintaining full
                control over quality and schedules with our dedicated on-site workshops. Plus, our maintenance service
                ensures your signs and brand always look their best. Choose Parkinson Signs for all your sign needs, and
                experience excellence in design, installation, and maintenance.</p>

        </div>
        <div class="container my-12 mx-auto px-4 md:px-12">
            <div class="flex flex-wrap justify-center">
                {{ $servicesPages := where .Site.RegularPages "Section" "services" }}
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4">
                    {{ range first 3 $servicesPages }}
                    <!-- Service Card -->
                    <div
                        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="{{ .RelPermalink }}">
                            {{ $featured := .Params.featuredImage }}
                            {{ with .Resources.GetMatch $featured }}
                            {{ $postimage := (.Resize "600x webp q100").RelPermalink }}
                            <img src="{{ $postimage }}" class="w-full" alt="{{ .Params.description }}"
                                title="{{ .Params.description }}" />
                            {{ end }} </a>
                        <div class="p-5">
                            <a href="{{ .RelPermalink }}">
                                <h5
                                    class="mb-2 text-2xl font-bold tracking-tight hover:text-primary text-gray-900 dark:text-white">
                                    {{
                                    .Title }}</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ if .Params.summary }}{{
                                .Params.summary }}{{ else }}{{ .Params.description }}{{ end }}</p>
                            <a href="{{ .RelPermalink }}"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center hover:bg-sky-700 text-white bg-secondary rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Read more
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 ml-2" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Card -->
                    {{ end }}
                </div>

            </div>
        </div>
        <div class="mx-auto max-w-sm pb-4">
            <a href="./services"
                class="block px-5 py-3 text-xl text-center font-medium text-white bg-secondary border border-sky-700 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                See All Services
            </a>
        </div>
    </div>
</section>