{{define "main"}}
{{ $blogbg := resources.Get "images/bg-hero.png" }}
<div class="relative overflow-hidden table w-full py-32 lg:py-36 bg-center bg-no-repeat bg-cover" style="
        background-position: 50%;
        background-image: url('{{ $blogbg.RelPermalink}}');
      ">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.75)">
    <div class="flex justify-center items-center h-full">
      <div class="text-center text-white px-6 md:px-12">
        <h1 class="text-4xl md:text-5xl font-bold tracking-tight text-white mb-12">
          {{ .Title }}
        </h1> 
      </div>
    </div>
  </div>
</div>

<section class="relative md:pb-24 md:pt-12 pb-16 pt-6">
  <div class="lg:container mx-auto">
    <!-- Breadcrumbs -->
    <nav class="flex px-6 mb-6" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        {{ range $index, $item := .Ancestors.Reverse }}
        {{ with $item }}
        <li class="inline-flex items-center">
          <a href="{{ .RelPermalink}}"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary dark:text-gray-400 dark:hover:text-white">
            {{ if lt $index 1}}
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
              </path>
            </svg>
            {{ else }}
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            {{ end }}
            {{ .Title }}
          </a>
        </li>
        {{ end }}
        {{- end }}
        <li aria-current="page">
          <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{ .Title
              }}</span>
          </div>
        </li>
      </ol>
    </nav>
    <!-- END -->
  </div>
  <section class="relative md:pb-24 md:pt-12 pb-16 pt-6">
    <div class="lg:container container mx-auto">
      <h2 class="text-3xl font-bold tracking-tight text-dark sm:text-4xl mb-12">
        {{ .Title }}
      </h2>
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 order-2 md:order-1 text-left">
          {{ with .Params.description }}
          <p class="leading-7 mb-6">
            {{ . | markdownify }}
          </p>
          {{ end }}
        </div>
        <div class="w-full md:w-1/2 order-1 md:order-2">
          <div class="flex justify-center items-center h-full">
            <center>
              <img src="{{ .Params.logo }}" alt="Featured Image">
            </center>
          </div>
        </div>
      </div>
      <div class="inline-block min-w-full flex">
        <div class="w-1/2 md:w-auto">
          <ul class="text-left">
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 md:mt-5 mb-2">Company Details:</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-8 md:mt-5 mb-2">Address</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-12 md:mt-5 mb-2">Country</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 mb-2">Contact</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 mb-2">Email</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 mb-2">Telephone</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 mb-2">FAX</li>
            <li class="font-bold tracking-tight text-dark text-md md:text-xl mt-5 mb-2">Website</li>
          </ul>
        </div>
        <div class="w-1/2 md:w-1/2 px-4">
          <ul>
            <li class="text-sm md:text-lg mt-5 mb-2 ">{{ .Title }}</li>
            {{ with .Params.address }}
            <li class=" text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.country }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.contact }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.email }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.phone }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.fax }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
            {{ with .Params.website }}
            <li class="text-sm md:text-lg mt-5 mb-2">{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{ end }}