{{define "main"}}


<section class="relative md:pb-24 md:pt-12 pb-16 pt-6">

    <div class="lg:container mx-auto">
        <nav class="pt-[var(--header-height,80px)] flex px-6 mb-6" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                {{ range $index, $item := .Ancestors.Reverse }}
                {{ with $item }}
                <li class="inline-flex items-center">
                    <a href="{{ .RelPermalink}}"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-amber-600 dark:text-gray-400 dark:hover:text-white">
                        {{ if lt $index 1}}
                        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        {{ else }}
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        {{ end }}
                        {{ if lt $index 1}}
                        Home
                        {{ else }}
                        {{ .Title }}
                        {{ end }}
                    </a>
                </li>
                {{ end }}
                {{- end }}
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">
                            {{ .Title }}
                        </span>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-8 md:col-span-6">
                <div class="px-6 border-r">

                    {{ with .Resources.GetMatch .Params.featuredImage }}
                    {{ $small := (.Resize "400x webp q80").RelPermalink }}
                    {{ $medium := (.Resize "550x webp q80").RelPermalink }}
                    {{ $large := (.Resize "900x webp q80").RelPermalink }}
                    {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
                    <img src="{{ $featuredimage }}" srcset="
                  {{- with $small -}}, {{.}} 400w{{- end -}}
                  {{- with $medium -}}, {{.}} 550w{{- end -}}
                  {{- with $large -}}, {{.}} 768w{{- end -}}
                  {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
                        class="object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"
                        width="100%" alt="{{ .Params.title }}" />
                    {{ end }}

                    <article class="prose dark:prose-invert lg:prose-xl mt-6">
                        {{.Content}}
                    </article>
                </div>


            </div>

            <div class="px-6 lg:px-0 lg:col-span-4 md:col-span-6">
                <div class="sticky top-20">

                    <div class="text-center mt-8">
                        <a class="btn text-white bg-primary shadow-sm w-full mb-4 sm:w-auto sm:mb-0 group"
                            href="/contact">
                            <span class="relative inline-flex items-center">
                                Get A Quote<span
                                    class="tracking-normal text-white group-hover:translate-x-0.5 transition-transform ml-1">-&gt;</span>
                            </span>
                        </a>
                    </div>

                    <h5
                        class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow dark:shadow-gray-800 p-2 text-center mt-8">
                        Related Services</h5>

                    {{ $related := .Site.RegularPages.Related . | first 4 }}
                    {{ range $index, $item := $related }}
                    {{ with $item }}
                    <div class="flex items-center mt-5">
                        {{ if .Resources.GetMatch (.Params.featuredImage) }}
                        {{ $postimage := .Resources.GetMatch (.Params.featuredImage) }}
                        {{ $small := ($postimage.Resize "400x webp q80").RelPermalink }}
                        <a href="{{ .RelPermalink }}" class="">
                            <img src="{{ $small }}" class="h-16 rounded-md shadow dark:shadow-gray-800"
                                alt="{{ .Title }}" />
                        </a>
                        {{ end }}
                        <div class="mx-3">
                            <a href="{{ .RelPermalink }}" class="font-semibold hover:text-amber-600">{{ .Title }}</a>
                            <p class="text-sm text-slate-600">{{ .Description | truncate 50 }}</p>
                        </div>
                    </div>
                    {{ if lt $index ( len $related )}}
                    <hr class="mt-5" />
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div><!--end grid-->
</section>

{{end}}