{{ define "main" }}

<header class="mb-4 bg-white">
  <span class="py-96">
    <h1 class="py-16 text-5xl font-bold text-center capitalize">
      {{ .Title }}
    </h1>
  </span>
</header>

<section class="py-2">
  <div class="container mx-auto flex flex-wrap">
    <div class="w-full md:w-2/3 flex flex-col items-center px-3">
      <div id="search-results"></div>

      <script id="search-result-template" type="text/x-js-template">
        <div id="summary-${key}" class="mb-8 border-dotted border-b pb-8 border-gray-300">
          <h2 class="text-3xl font-medium mb-5">
              <a class="block" href="${link}">${title}</a>
          </h2>

          <p class="mb-3 text-base">${snippet}</p>

          <p class="font-medium text-lg">
            <small>
                ${ isset tags }Tags: ${tags}<br>${ end }
            </small>
        </p>

      </div>
    </script>
    </div>
    <aside class="w-full md:w-1/3 flex flex-col items-center px-3">

      <div class="w-full bg-white shadow flex flex-col p-6">
        <p class="text-xl font-semibold pb-5">Search Content</p>
        <form action="{{ `search` | relURL }}" class="flex flex-row lg:flex-row">
          <input type="search" name="q" id="search-query"
            class="w-full m-0 -mr-0.5 block px-4 py-2 text-gray-700 bg-white border rounded-l-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-amber-400 dark:focus:border-amber-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-amber-300"
            placeholder="Search for..." placeholder="Search" aria-label="Search" aria-describedby="button-search" />

          <!--Search button-->
          <button
            class="relative z-[2] flex items-center rounded-r bg-secondary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary hover:shadow-lg focus:bg-primary focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-500 active:shadow-lg"
            type="submit" id="button-search" data-te-ripple-init data-te-ripple-color="light">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
              <path fill-rule="evenodd"
                d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </form>
      </div>
    </aside>
  </div>

</section>

{{ end }}